In [27]:
import numpy as np
import pandas as pd

In [28]:
h08dir = '/mnt/c/Users/tsimk/Downloads/dotfiles/h08/global_city'
datdir = '/mnt/c/Users/tsimk/Downloads/research/H08/additional_data'
wup_path = f"{datdir}/WUP/WUP2018/WUP2018-F12-Cities_Over_300k.xls"

In [29]:
df = pd.read_excel(wup_path, skiprows=17, header=None)
new_columns = ['index', 'code', 'area', 'code', 'name', 'note', 'lat', 'lon', '1950', '1955', '1960', '1965', '1970', '1975', '1980', '1985', '1990', '1995', '2000', '2005', '2010', '2015', '2020', '2025', '2030', '2035']
df.columns = new_columns
print(df)

      index  code         area   code             name  note        lat  \
0         1     4  Afghanistan  20001            Herat   NaN  34.348170
1         2     4  Afghanistan  20002            Kabul   NaN  34.528887
2         3     4  Afghanistan  20003         Kandahar   NaN  31.613320
3         4     4  Afghanistan  20004   Mazar-e Sharif   NaN  36.709040
4         5     8      Albania  20005  Tiranë (Tirana)   NaN  41.327500
...     ...   ...          ...    ...              ...   ...        ...
1855   1856   894       Zambia  23277           Lusaka   NaN -15.413374
1856   1857   894       Zambia  23279            Ndola   NaN -12.958670
1857   1858   716     Zimbabwe  22510         Bulawayo   NaN -20.150000
1858   1859   716     Zimbabwe  22511      Chitungwiza   NaN -18.012740
1859   1860   716     Zimbabwe  22513           Harare   NaN -17.829350

            lon     1950     1955  ...      1990      1995      2000  \
0     62.199670   82.468   85.751  ...   183.465   207.190   233.991
1     69.172460  170.784  220.749  ...  1549.320  1928.694  2401.109
2     65.710130   82.199   89.785  ...   233.243   263.395   297.456
3     67.110870   30.000   37.139  ...   135.153   152.629   172.372
4     19.818890   84.513  106.932  ...   247.270   287.950   335.336
...         ...      ...      ...  ...       ...       ...       ...
1855  28.277148   31.169   53.237  ...   757.433   901.621  1073.299
1856  28.636590   30.621   47.145  ...   333.984   353.337   373.498
1857  28.583330   91.635   94.495  ...   570.046   637.016   664.560
1858  31.075550   38.645   48.777  ...   248.923   287.986   312.294
1859  31.053890  142.652  191.549  ...  1047.467  1255.156  1379.266

          2005      2010      2015      2020      2025      2030      2035
0      275.678   358.691   466.703   605.575   752.910   897.041  1057.573
1     2905.178  3289.005  3723.543  4221.532  4877.024  5737.138  6760.500
2      336.746   383.498   436.741   498.002   577.128   679.278   800.461
3      206.403   283.532   389.483   532.689   681.531   816.040   962.262
4      371.803   408.697   449.298   493.712   535.702   565.301   581.626
...        ...       ...       ...       ...       ...       ...       ...
1855  1357.143  1722.879  2187.180  2774.133  3470.866  4266.517  5182.669
1856   408.948   448.793   492.519   542.495   628.595   762.477   925.726
1857   669.878   658.235   646.800   638.188   668.949   753.306   874.479
1858   332.557   349.406   367.101   386.452   419.611   475.422   552.027
1859  1449.799  1474.557  1499.723  1529.920  1633.019  1844.741  2141.738

[1860 rows x 26 columns]

In [30]:
df_sorted = df.sort_values(by='2010', ascending=False)
print(df_sorted)

      index  code                         area    code  \
1087   1088   392                        Japan   21671
807     808   356                        India   21228
448     449   156                        China   20656
1146   1147   484                       Mexico   21853
137     138    76                       Brazil   20287
...     ...   ...                          ...     ...
1668   1669   834  United Republic of Tanzania   23558
1245   1246   566                      Nigeria  206392
1283   1284   512                         Oman   21923
1095   1096   400                       Jordan  205780
1018   1019   368                         Iraq   23326

                                name  note        lat         lon       1950  \
1087                           Tokyo  70.0  35.689500  139.691710  11274.641
807                            Delhi  60.0  28.666670   77.216670   1369.369
448                         Shanghai  39.0  31.222220  121.458060   4288.091
1146  Ciudad de México (Mexico City)  74.0  19.427318  -99.141869   3365.081
137                        São Paulo   NaN -23.547500  -46.636110   2334.038
...                              ...   ...        ...         ...        ...
1668                          Songea   NaN -10.683330   35.650000      0.719
1245                      Gwagwalada   NaN   8.941390    7.091940      3.488
1283               Salahah (Salalah)   NaN  17.012300   54.089388      0.805
1095                     Tila al-Ali   NaN  31.993611   35.862778      1.312
1018                         Samarra   NaN  34.196630   43.873900     11.300

           1955  ...       1990       1995       2000       2005       2010  \
1087  13712.679  ...  32530.003  33586.573  34449.908  35621.544  36859.626
807    1781.624  ...   9384.209  12138.233  15691.899  18691.330  21987.895
448    5712.858  ...   8605.812  11072.063  14246.541  17055.788  20314.309
1146   4293.878  ...  15642.318  17017.469  18457.027  19276.065  20136.681
137    3043.828  ...  14775.840  15913.473  17014.078  18288.134  19659.808
...         ...  ...        ...        ...        ...        ...        ...
1668      1.171  ...     57.523     71.916     89.915    121.652    174.178
1245      4.573  ...     30.400     46.944     72.500    111.987    173.000
1283      1.179  ...     56.550    135.437    147.573    159.973    171.495
1095      1.979  ...     35.091     52.918     79.808    119.373    170.544
1018     14.593  ...     70.348     86.940    106.090    118.853    137.983

           2015       2020       2025       2030       2035
1087  37256.109  37393.129  37036.204  36573.799  36014.030
807   25865.875  30290.936  34665.569  38938.697  43345.059
448   23482.181  27058.479  30482.140  32869.265  34341.242
1146  21339.781  21782.378  22752.414  24110.599  25414.624
137   20883.046  22043.028  22990.007  23824.223  24490.136
...         ...        ...        ...        ...        ...
1668    249.334    352.781    469.972    596.538    740.225
1245    267.255    409.916    566.097    697.090    827.117
1283    312.168    420.226    461.680    498.485    525.841
1095    243.652    327.476    367.751    392.563    420.513
1018    288.948    311.819    347.408    398.080    456.909

[1860 rows x 26 columns]

In [31]:
drop_columns = ['index', 'code', 'area', 'code', 'note',  '1950', '1955', '1960', '1965', '1970', '1975', '1980', '1985', '1990', '1995', '2000', '2005', '2015', '2020', '2025', '2030', '2035']
df_dropped = df_sorted.drop(columns=drop_columns)
print(df_dropped[:10])

                                name        lat         lon       2010
1087                           Tokyo  35.689500  139.691710  36859.626
807                            Delhi  28.666670   77.216670  21987.895
448                         Shanghai  31.222220  121.458060  20314.309
1146  Ciudad de México (Mexico City)  19.427318  -99.141869  20136.681
137                        São Paulo -23.547500  -46.636110  19659.808
1066            Kinki M.M.A. (Osaka)  34.675834  135.553823  19312.646
1757                 New York-Newark  40.717042  -74.003663  18365.262
881                  Mumbai (Bombay)  19.073975   72.880838  18257.413
684               Al-Qahirah (Cairo)  30.039173   31.239411  16899.015
203                          Beijing  39.907500  116.397230  16441.252

In [42]:
#df_dropped.insert(0, 'index', range(1, len(df_sorted)+1))
df_new = df_dropped[[col for col in df_dropped.columns if col != 'name'] + ['name']]
print(df_new)

      index        lat         lon       2010                            name
1087      1  35.689500  139.691710  36859.626                           Tokyo
807       2  28.666670   77.216670  21987.895                           Delhi
448       3  31.222220  121.458060  20314.309                        Shanghai
1146      4  19.427318  -99.141869  20136.681  Ciudad de México (Mexico City)
137       5 -23.547500  -46.636110  19659.808                       São Paulo
...     ...        ...         ...        ...                             ...
1668   1856 -10.683330   35.650000    174.178                          Songea
1245   1857   8.941390    7.091940    173.000                      Gwagwalada
1283   1858  17.012300   54.089388    171.495               Salahah (Salalah)
1095   1859  31.993611   35.862778    170.544                     Tila al-Ali
1018   1860  34.196630   43.873900    137.983                         Samarra

[1860 rows x 5 columns]

In [46]:
save_flag = True
if save_flag is True:
    datdir = '/mnt/c/Users/tsimk/Downloads/dotfiles/h08/global_city/dat/cty_lst_/gpw4'
    save_path = f"{datdir}/WUP2018_300k_2010.txt"
    df_new.to_csv(save_path, sep='\t', index=False, header=False)