In [21]:
import numpy as np
import pandas as pd

# 全ての行を表示
pd.set_option('display.max_rows', None)
# 全ての列を表示
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [7]:
h08dir = '/mnt/c/Users/tsimk/Downloads/dotfiles/h08/global_city'
datdir = '/mnt/c/Users/tsimk/Downloads/research/H08/additional_data'
wup_path = f"{datdir}/WUP/WUP2018/WUP2018-F12-Cities_Over_300k.xls"

In [8]:
df = pd.read_excel(wup_path, skiprows=17, header=None)
new_columns = ['index', 'code', 'area', 'code', 'name', 'note', 'lat', 'lon', '1950', '1955', '1960', '1965', '1970', '1975', '1980', '1985', '1990', '1995', '2000', '2005', '2010', '2015', '2020', '2025', '2030', '2035']
df.columns = new_columns
df.head()

,index,code,area,code,name,note,lat,lon,1950,1955,...,1990,1995,2000,2005,2010,2015,2020,2025,2030,2035
0,1,4,Afghanistan,20001,Herat,NaN,34.348170,62.19967,82.468,85.751,...,183.465,207.190,233.991,275.678,358.691,466.703,605.575,752.910,897.041,1057.573
1,2,4,Afghanistan,20002,Kabul,NaN,34.528887,69.17246,170.784,220.749,...,1549.320,1928.694,2401.109,2905.178,3289.005,3723.543,4221.532,4877.024,5737.138,6760.500
2,3,4,Afghanistan,20003,Kandahar,NaN,31.613320,65.71013,82.199,89.785,...,233.243,263.395,297.456,336.746,383.498,436.741,498.002,577.128,679.278,800.461
3,4,4,Afghanistan,20004,Mazar-e Sharif,NaN,36.709040,67.11087,30.000,37.139,...,135.153,152.629,172.372,206.403,283.532,389.483,532.689,681.531,816.040,962.262
4,5,8,Albania,20005,Tiranë (Tirana),NaN,41.327500,19.81889,84.513,106.932,...,247.270,287.950,335.336,371.803,408.697,449.298,493.712,535.702,565.301,581.626

In [9]:
df_sorted = df.sort_values(by='2010', ascending=False)
df_sorted.head(10)

,index,code,area,code,name,note,lat,lon,1950,1955,...,1990,1995,2000,2005,2010,2015,2020,2025,2030,2035
1087,1088,392,Japan,21671,Tokyo,70.0,35.689500,139.691710,11274.641,13712.679,...,32530.003,33586.573,34449.908,35621.544,36859.626,37256.109,37393.129,37036.204,36573.799,36014.030
807,808,356,India,21228,Delhi,60.0,28.666670,77.216670,1369.369,1781.624,...,9384.209,12138.233,15691.899,18691.330,21987.895,25865.875,30290.936,34665.569,38938.697,43345.059
448,449,156,China,20656,Shanghai,39.0,31.222220,121.458060,4288.091,5712.858,...,8605.812,11072.063,14246.541,17055.788,20314.309,23482.181,27058.479,30482.140,32869.265,34341.242
1146,1147,484,Mexico,21853,Ciudad de México (Mexico City),74.0,19.427318,-99.141869,3365.081,4293.878,...,15642.318,17017.469,18457.027,19276.065,20136.681,21339.781,21782.378,22752.414,24110.599,25414.624
137,138,76,Brazil,20287,São Paulo,NaN,-23.547500,-46.636110,2334.038,3043.828,...,14775.840,15913.473,17014.078,18288.134,19659.808,20883.046,22043.028,22990.007,23824.223,24490.136
1066,1067,392,Japan,206459,Kinki M.M.A. (Osaka),69.0,34.675834,135.553823,7005.284,8622.976,...,18388.783,18939.588,18660.022,18762.099,19312.646,19304.722,19165.340,18921.632,18658.055,18345.611
1757,1758,840,United States of America,23083,New York-Newark,NaN,40.717042,-74.003663,12338.471,13219.362,...,16085.599,16942.770,17813.371,18087.174,18365.262,18647.626,18803.552,19154.024,19957.605,20817.170
881,882,356,India,21206,Mumbai (Bombay),NaN,19.073975,72.880838,3088.811,3726.210,...,12355.090,14135.363,16146.527,17257.072,18257.413,19315.737,20411.274,22088.953,24572.450,27342.819
684,685,818,Egypt,22812,Al-Qahirah (Cairo),55.0,30.039173,31.239411,2493.514,3029.198,...,9892.143,11961.986,13625.565,15174.050,16899.015,18820.072,20900.604,23074.225,25516.696,28504.351
203,204,156,China,20464,Beijing,40.0,39.907500,116.397230,1671.365,2364.625,...,6787.737,8355.148,10285.091,12991.292,16441.252,18421.198,20462.610,22596.455,24281.913,25365.920

In [10]:
drop_columns = ['index', 'code', 'note',  '1950', '1955', '1960', '1965', '1970', '1975', '1980', '1985', '1990', '1995', '2000', '2005', '2015', '2020', '2025', '2030', '2035']
df_dropped = df_sorted.drop(columns=drop_columns)
df_dropped.head(10)

,area,name,lat,lon,2010
1087,Japan,Tokyo,35.689500,139.691710,36859.626
807,India,Delhi,28.666670,77.216670,21987.895
448,China,Shanghai,31.222220,121.458060,20314.309
1146,Mexico,Ciudad de México (Mexico City),19.427318,-99.141869,20136.681
137,Brazil,São Paulo,-23.547500,-46.636110,19659.808
1066,Japan,Kinki M.M.A. (Osaka),34.675834,135.553823,19312.646
1757,United States of America,New York-Newark,40.717042,-74.003663,18365.262
881,India,Mumbai (Bombay),19.073975,72.880838,18257.413
684,Egypt,Al-Qahirah (Cairo),30.039173,31.239411,16899.015
203,China,Beijing,39.907500,116.397230,16441.252

In [11]:
#df_dropped.insert(0, 'index', range(1, len(df_sorted)+1))
df_new = df_dropped[[col for col in df_dropped.columns if col != 'name'] + ['name']]
df_new.head(10)

,area,lat,lon,2010,name
1087,Japan,35.689500,139.691710,36859.626,Tokyo
807,India,28.666670,77.216670,21987.895,Delhi
448,China,31.222220,121.458060,20314.309,Shanghai
1146,Mexico,19.427318,-99.141869,20136.681,Ciudad de México (Mexico City)
137,Brazil,-23.547500,-46.636110,19659.808,São Paulo
1066,Japan,34.675834,135.553823,19312.646,Kinki M.M.A. (Osaka)
1757,United States of America,40.717042,-74.003663,18365.262,New York-Newark
881,India,19.073975,72.880838,18257.413,Mumbai (Bombay)
684,Egypt,30.039173,31.239411,16899.015,Al-Qahirah (Cairo)
203,China,39.907500,116.397230,16441.252,Beijing

In [23]:
region_mapping = {
    'northern africa': ['Algeria', 'Egypt', 'Libya', 'Morocco', 'Tunisia', 'Sudan'],
    'middle africa': ['Angola', 'Cameroon', 'Central African Republic', 'Chad', 'Congo', 'Democratic Republic of the Congo', 'Equatorial Guinea', 'Gabon'],
    'eastern africa': ['Kenya', 'Tanzania', 'Uganda', 'Rwanda', 'Ethiopia', 'Madagascar', 'Malawi', 'Mozambique', 'Zambia', 'Zimbabwe', 'Somalia', 'Eritrea'],
    'western africa': ['Nigeria', 'Ghana', 'Ivory Coast', 'Senegal', 'Mali', 'Burkina Faso', 'Benin', 'Togo', 'Niger', 'Guinea', 'Sierra Leone', 'Liberia', 'Côte d\'Ivoire', 'Gambia', 'Guinea-Bissau'],
    'eastern asia': ['China', 'Japan', 'Mongolia', 'North Korea', 'South Korea', 'Dem. People\'s Republic of Korea', 'Republic of Korea', 'China, Taiwan Province of China', 'China, Hong Kong SAR', 'China, Macao SAR'],
    'western asia': ['Turkey', 'Saudi Arabia', 'Iran', 'Iraq', 'Syria', 'Yemen', 'Jordan', 'Lebanon', 'Israel', 'Palestine', 'Kuwait', 'United Arab Emirates', 'Qatar', 'Oman', 'Azerbaijan', 'Armenia', 'Georgia'],
    'central asia': ['Kazakhstan', 'Uzbekistan', 'Turkmenistan', 'Kyrgyzstan', 'Tajikistan'],
    'south-eastern asia': ['Indonesia', 'Malaysia', 'Thailand', 'Vietnam', 'Philippines', 'Myanmar', 'Singapore', 'Cambodia', 'Lao People\'s Democratic Republic'],
    'southern asia': ['India', 'Pakistan', 'Bangladesh', 'Sri Lanka', 'Nepal', 'Afghanistan'],
    'northern america': ['United States', 'Canada', 'Greenland'],
    'central america': ['Mexico', 'Guatemala', 'Honduras', 'El Salvador', 'Nicaragua', 'Panama', 'Costa Rica'],
    'caribbean': ['Cuba', 'Jamaica', 'Haiti', 'Dominican Republic', 'Puerto Rico', 'Trinidad and Tobago'],
    'south america': ['Brazil', 'Argentina', 'Colombia', 'Chile', 'Peru', 'Ecuador', 'Bolivia', 'Uruguay', 'Paraguay', 'Venezuela'],
    'northern europe': ['United Kingdom', 'Sweden', 'Norway', 'Denmark', 'Finland', 'Ireland', 'Estonia', 'Latvia'],
    'western europe': ['Germany', 'France', 'Netherlands', 'Belgium', 'Switzerland', 'Austria'],
    'eastern europe': ['Russia', 'Ukraine', 'Poland', 'Romania', 'Hungary', 'Belarus', 'Czechia', 'Slovakia', 'Bulgaria', 'Moldova', 'Lithuania'],
    'southern europe': ['Italy', 'Spain', 'Greece', 'Portugal', 'Croatia', 'Serbia', 'Bosnia and Herzegovina', 'Slovenia', 'Montenegro', 'North Macedonia', 'Albania'],
    'oceania': ['Australia', 'New Zealand', 'Fiji', 'Papua New Guinea', 'Samoa', 'Micronesia', 'Palau', 'Vanuatu']
}


# 3. 各国に対応する地域ラベルを取得する関数を作成
def get_region(country):
    for region, countries in region_mapping.items():
        if country in countries:
            return region
    return 'Unknown'  # マッピングされていない場合は 'Unknown' を返す

# 4. 新しい列 'Region' を追加して、各行の国に対応する地域ラベルを設定
df_new['region'] = df_new['area'].apply(get_region)

# 結果を表示
df_new.head(10)

/tmp/ipykernel_418/3520908754.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['region'] = df_new['area'].apply(get_region)

,area,lat,lon,2010,name,region
1087,Japan,35.689500,139.691710,36859.626,Tokyo,eastern asia
807,India,28.666670,77.216670,21987.895,Delhi,southern asia
448,China,31.222220,121.458060,20314.309,Shanghai,eastern asia
1146,Mexico,19.427318,-99.141869,20136.681,Ciudad de México (Mexico City),central america
137,Brazil,-23.547500,-46.636110,19659.808,São Paulo,south america
1066,Japan,34.675834,135.553823,19312.646,Kinki M.M.A. (Osaka),eastern asia
1757,United States of America,40.717042,-74.003663,18365.262,New York-Newark,Unknown
881,India,19.073975,72.880838,18257.413,Mumbai (Bombay),southern asia
684,Egypt,30.039173,31.239411,16899.015,Al-Qahirah (Cairo),northern africa
203,China,39.907500,116.397230,16441.252,Beijing,eastern asia

In [20]:
# 'Unknown' region の行をフィルタリングして 'name' 列を取得する
unknown_names = df_new[df_new['region'] == 'Unknown']['name']

# 'Unknown' なデータの名前を出力する
name_values = unknown_names.tolist()
print(name_values)

['Tokyo', 'Delhi', 'Shanghai', 'Ciudad de México (Mexico City)', 'São Paulo', 'Kinki M.M.A. (Osaka)', 'New York-Newark', 'Mumbai (Bombay)', 'Al-Qahirah (Cairo)', 'Beijing', 'Dhaka', 'Buenos Aires', 'Kolkata (Calcutta)', 'Karachi', 'Istanbul', 'Rio de Janeiro', 'Los Angeles-Long Beach-Santa Ana', 'Manila', 'Moskva (Moscow)', 'Chongqing', 'Paris', 'Lagos', 'Guangzhou, Guangdong', 'Shenzhen', 'Tianjin', 'Seoul', 'Jakarta', 'Kinshasa', 'Chukyo M.M.A. (Nagoya)', 'Lima', 'Chicago', 'Chennai (Madras)', 'Lahore', 'Bogotá', 'Bangalore', 'Krung Thep (Bangkok)', 'Tehran', 'London', 'Chengdu', 'Hyderabad', 'Wuhan', 'Dongguan', 'Hong Kong', 'Foshan', 'Santiago', 'Ahmadabad', 'Thành Pho Ho Chí Minh (Ho Chi Minh City)', 'Nanjing, Jiangsu', 'Shenyang', 'Kuala Lumpur', 'Madrid', 'Hangzhou', 'Baghdad', "Xi'an, Shaanxi", 'Kitakyushu-Fukuoka M.M.A.', 'Miami', 'Toronto', 'Philadelphia', 'Belo Horizonte', 'Luanda', 'Ar-Riyadh (Riyadh)', 'Dallas-Fort Worth', 'Haerbin', 'Singapore', 'Houston', 'Pune (Poona)', 'Barcelona', 'Sankt Peterburg (Saint Petersburg)', 'Washington, D.C.', 'Atlanta', 'Al-Khartum (Khartoum)', 'Qingdao', 'Surat', 'Guadalajara', 'Yangon', 'Al-Iskandariyah (Alexandria)', 'Johannesburg', 'Boston', 'Dalian', 'Sydney', 'Ankara', 'Monterrey', 'Chittagong', 'Xinbei', 'Suzhou, Jiangsu', "Ji'nan, Shandong", 'Roma (Rome)', 'Abidjan', 'Melbourne', 'Montréal', 'Dar es Salaam', 'Pôrto Alegre', 'Detroit', 'Brasília', 'Phoenix-Mesa', 'Zhengzhou', 'Shantou', 'Cape Town', 'Changchun', 'Recife', 'Fortaleza', 'Kunming', 'Berlin', 'Jiddah', 'Dar-el-Beida (Casablanca)', 'Medellín', 'Busan', 'Shijiazhuang', 'Salvador', 'Tel Aviv-Yafo (Tel Aviv-Jaffa)', 'Kabul', 'San Francisco-Oakland', 'Nairobi', 'Kano', 'Athínai (Athens)', 'Changsha', 'Taiyuan, Shanxi', 'Addis Ababa', 'Curitiba', 'Halab (Aleppo)', 'Seattle', 'Ekurhuleni', 'Milano (Milan)', 'Xiamen', 'Hefei', 'Jaipur', 'Fuzhou, Fujian', 'San Diego', 'Durban (Ethekwini)', 'Kanpur', 'Caracas', "P'yongyang", 'Lucknow', 'Ibadan', 'Lisboa (Lisbon)', 'Hà Noi', 'Ürümqi (Wulumqi)', 'Nanning', 'Kyiv (Kiev)', 'Campinas', 'Ningbo', 'Surabaya', 'Puebla', 'Wuxi, Jiangsu', 'Shizuoka-Hamamatsu M.M.A.', 'Faisalabad', 'Izmir', 'Zhongshan', 'Wenzhou', 'Mashhad', 'Minneapolis-St. Paul', 'Taibei', 'Santo Domingo', 'Nanchang', 'Asunción', 'Sapporo', 'Ciudad de Guatemala (Guatemala City)', 'Incheon', 'Manchester', 'Changzhou, Jiangsu', 'Guiyang', 'Guayaquil', 'San Juan', 'Nagpur', 'Tampa-St. Petersburg', 'El Djazaïr  (Algiers)', 'Birmingham (West Midlands)', 'Dakar', 'Lanzhou', 'Dimashq (Damascus)', 'Bandung', 'Denver-Aurora', 'Douala', 'Bekasi', 'Yaoundé', 'Cali', 'Daegu', 'Vancouver', 'Zibo', 'Tashkent', 'Napoli (Naples)', 'Baltimore', 'Tangshan, Hebei', 'Sendai', 'St. Louis', 'La Habana (Havana)', 'Port-au-Prince', 'Indore', 'Medan', 'Hiroshima', 'Coimbatore', "Sana'a'", 'Kochi (Cochin)', 'Baku', 'Accra', 'Goiânia', 'Patna', 'Belém', 'Antananarivo', 'Kampala', 'Tunis', 'Kumasi', 'Brisbane', 'Al Kuwayt (Kuwait City)', 'Bayrut (Beirut)', 'Taoyuan', 'Kozhikode (Calicut)', 'Riverside-San Bernardino', 'Toluca de Lerdo', 'Bruxelles-Brussel', 'Las Vegas', 'Bucuresti (Bucharest)', 'Bamako', 'Dubayy (Dubai)', 'Barranquilla', 'Portland', 'Bhopal', 'Maracaibo', 'Minsk', 'Handan', 'Rawalpindi', 'Weifang', 'Port Harcourt', 'Abuja', 'Tangerang', 'Vadodara', 'Thrissur', 'Manaus', 'Cleveland', 'Yantai', 'Huizhou', 'Hamburg', 'San Antonio', 'West Yorkshire', 'Baotou', 'Tijuana', 'Depok', 'Ouagadougou', 'Torino (Turin)', 'Budapest', 'Pittsburgh', 'Sacramento', 'Agra', 'Wien (Vienna)', 'Lusaka', 'Xuzhou', 'Perth', 'Esfahan', 'Rabat', 'Luoyang', 'Warszawa (Warsaw)', 'Shaoxing', 'Visakhapatnam', 'Grande Vitória', 'San Jose', 'Pretoria', 'Baixada Santista', 'Montevideo', 'Valencia', 'Gujranwala', 'Lubumbashi', "Huai'an", 'La Paz', 'Thiruvananthapuram', 'Cincinnati', 'Bursa', 'Glasgow', 'Malappuram', 'León de los Aldamas', 'Kannur', 'Liuzhou', 'Ludhiana', 'Mbuji-Mayi', 'Quito', 'Nantong', 'Multan', 'Lyon', 'Brazzaville', 'Yangzhou', 'Baoding', 'Marseille-Aix-en-Provence', 'Semarang', 'Karaj', 'Peshawar', 'Makkah (Mecca)', 'Adana', 'Nashik', 'Kansas City', 'Phnum Pénh (Phnom Penh)', 'Orlando', 'Conakry', 'Gaoxiong', 'Linyi, Shandong', 'Ciudad de Panamá (Panama City)', 'Anshan', 'Hyderabad', 'Daejon', 'Indianapolis', 'Haikou', 'Hohhot', 'Harare', 'Novosibirsk', 'Gwangju', 'Tabriz', 'Lomé', 'Yancheng, Jiangsu', 'Palembang', 'Córdoba', 'Davao City', 'Jiangmen', 'Kharkiv', 'Jilin', 'Madurai', 'Vijayawada', 'Virginia Beach', 'Xiangyang', 'Almaty', 'Daqing', 'Varanasi (Benares)', 'Taizhou, Zhejiang', 'Meerut', 'Amman', 'Shiraz', 'Milwaukee', 'Austin', 'Columbus, Ohio', 'Santa Cruz', 'Rajkot', 'Stockholm', 'Qiqihaer', 'Zhuhai', 'Muqdisho (Mogadishu)', 'München (Munich)', 'Datong', 'Yekaterinburg', 'Hims (Homs)', 'Beograd (Belgrade)', 'Auckland', 'Makassar (Ujung Pandang)', 'Ciudad Juárez', 'Grande São Luís', 'Jamshedpur', 'Rosario', 'Fushun, Liaoning', 'Gaziantep', 'Benin City', 'Jining, Shandong', 'Lianyungang', 'Porto', 'Charlotte', 'Zürich (Zurich)', 'Jabalpur', 'Nizhniy Novgorod', 'Srinagar', 'Praha (Prague)', 'Chaozhou', 'Huainan', 'Asansol', 'Adelaide', 'Ottawa-Gatineau', 'Sofia', 'San José', 'Allahabad', 'João Pessoa', 'København (Copenhagen)', 'Providence', 'Calgary', 'Dhanbad', 'Al-Mawsil (Mosul)', 'Amritsar', 'Aurangabad', 'Samara', 'Maceió', 'Omsk', 'Chon Buri', 'Kazan', 'Xining', 'Taizhong', 'Quanzhou', 'Ulaanbaatar', 'Edmonton', 'Natal', 'Yinchuan', 'Chelyabinsk', 'Helsinki', 'Zhangjiakou', 'Jodhpur', 'Taian, Shandong', 'Joinville', 'Al-Basrah (Basra)', 'Mandalay', 'Ranchi', 'Al-Madinah (Medina)', 'Port Elizabeth (Nelson Mandela Bay)', 'Hengyang', 'Dublin', 'Querétaro', 'Khulna', 'Maputo', 'Tarabulus (Tripoli)', 'Raipur', 'Rostov-na-Donu (Rostov-on-Don)', 'Wuhu, Anhui', 'San Salvador', 'Putian', 'Gwalior', 'Tbilisi', 'Barquisimeto', 'Ahvaz', 'Qinhuangdao', 'Bucaramanga', 'Samut Prakan', 'Kollam', 'Jacksonville, Florida', 'Suweon', 'Yerevan', 'Maracay', 'Amsterdam', 'La Laguna', 'Memphis', 'Ufa', 'Qom', 'Changwon', 'Mianyang, Sichuan', 'Monrovia', 'Durg-Bhilainagar', 'Hefa (Haifa)', 'Taizhou, Jiangsu', 'Cixi', 'Tegucigalpa', 'San Luis Potosí', 'Fès', 'Yichang', 'Zhanjiang', 'Salt Lake City', 'Konya', 'Volgograd', 'Lille', 'Tiruchirappalli', 'Florianópolis', 'Dnipro', 'Odesa', 'Köln (Cologne)', 'Rotterdam', 'Benxi', 'Zhuzhou', 'Antwerpen', 'Managua', 'Perm', "N'Djaména", 'Kaduna', 'Zunyi', 'Cochabamba', 'Mendoza', 'Kota', 'Zaozhuang', 'Mysore', 'Nashville-Davidson', 'Louisville', 'Mérida', 'Voronezh', 'Krasnoyarsk', 'Bareilly', 'Donetsk', 'Kathmandu', 'Chandigarh', 'Guilin', 'Richmond', 'Niamey', 'Dongying', 'Bogor', 'Chiang Mai', 'Guwahati (Gauhati)', 'Seongnam', 'Solapur', 'Nice-Cannes', 'Zhenjiang, Jiangsu', 'Mombasa', 'Jinzhou', 'Kananga', 'Mexicali', 'Buffalo', 'Aguascalientes', 'Tiruppur', 'Hubli-Dharwad', 'Hartford', 'Cuernavaca', 'Batam', 'Hamah', 'Bridgeport-Stamford', 'Yueyang', 'Cartagena', 'Xinxiang', 'Abu Zaby (Abu Dhabi)', 'Weihai', 'Ad-Dammam', 'Antalya', 'Salem', 'Freetown', 'Goyang', 'Pekan Baru', 'New Orleans', 'Teresina', 'Ash-Shariqah (Sharjah)', 'Jingzhou, Hubei', 'Oslo', 'Xiangtan, Hunan', 'Raleigh', 'Maoming', 'Chifeng', 'Ulsan', 'Anyang', 'Aligarh', 'Nanyang, Henan', 'Rizhao', 'Toulouse', 'Hai Phòng', 'Valparaíso', 'Shiyan', 'Bandar Lampung', 'Kaifeng', 'Marrakech', 'Nanchong', 'Yingkou', 'Onitsha', 'Moradabad', 'Bhubaneswar', 'Cebu City', 'Matola', 'Puning', 'Yiwu', 'Oklahoma City', 'Acapulco de Juárez', 'Baoji', 'Liverpool', 'Jalandhar', 'Tampico', 'Kisangani', 'Pingdingshan, Henan', 'Palermo', 'Chihuahua', 'Bordeaux', 'Panjin', 'Bucheon', 'Southampton/Portsmouth (South Hampshire)', 'Nouakchott', 'Can Tho', 'Tucson', 'Huaibei', 'San Miguel de Tucumán', 'Yongin', 'Bishkek', 'Saratov', 'Jixi, Heilongjiang', 'Kermanshah', 'Padang', 'Morelia', 'Tanger', 'Aba', 'Saltillo', 'Diyarbakir', 'Malang', 'Wahran (Oran)', 'Pointe-Noire', 'Quetta', 'Aracaju', 'Ruian', 'Veracruz', 'Niigata', 'Zamboanga City', 'Mersin', 'Johor Bahru', 'El Paso', 'Kirkuk', 'Thessaloniki', 'Da Nang', 'Honolulu', 'Islamabad', 'Kigali', 'Kayseri', 'Nonthaburi', 'Songkhla', 'Arequipa', 'Denpasar', 'Bengbu', 'Bergamo', 'Mudanjiang', 'Rajshahi', 'La Plata', 'Valencia', 'Tainan', 'Jerusalem', 'Shangrao', 'Zhaoqing', 'Zaporizhzhya', 'Cúcuta', 'Campo Grande', 'Ilorin', 'Dandong', 'Newcastle upon Tyne', 'Fuyang', 'Tengzhou', 'Suqian', 'West Rand', 'Bologna', 'Agadir', 'Kraków (Cracow)', 'Québec', 'Concepción', 'Villahermosa', 'Birmingham', 'Jiaxing', 'Fuxin', 'Pathum Thani', 'Ciudad Guayana', 'Albuquerque', 'Ganzhou', 'Huzhou', 'Krasnodar', 'Wenling', 'Warangal', 'Luzhou', 'Irbil (Erbil)', 'McAllen', 'Łódź', 'Kumamoto', 'Jos', 'Lviv', 'Londrina', 'Samarinda', 'Liaoyang', 'Suzhou, Anhui', 'Lilongwe', 'Reynosa', 'Omaha', 'Bhiwandi', 'Nottingham', 'Ansan', "Ma'anshan", 'Shaoguan', 'Dayton', 'Winnipeg', 'Heze', 'Jieyang', 'Masqat (Muscat)', 'Rochester', 'Dushanbe', 'Tolyatti', 'Trujillo', 'Bangui', 'Yueqing', 'Hermosillo', 'Hamilton', 'Binzhou', 'Soshanguve', 'Vereeniging', 'Pingxiang, Jiangxi', 'Okayama', 'Adan (Aden)', 'Genova (Genoa)', 'Blantyre-Limbe', 'Jiaozuo', 'Jiujiang', 'Yichun, Heilongjiang', 'Sevilla', 'Jinhua', 'Dehradun', 'Firenze (Florence)', 'Gorakhpur', 'Zagreb', 'Dezhou', 'Huangshi', 'Siliguri', 'Yangjiang', 'Bien Hoa', 'Tuxtla Gutierrez', 'Saharanpur', 'Haicheng', 'Sheffield', 'Zaria', 'Frankfurt am Main', 'Antipolo', 'Cancún', 'Banghazi', 'Culiacán', 'Barcelona-Puerto La Cruz', 'Cotonou', 'Maiduguri', 'Sorocaba', 'Leshan', 'Asmara', 'Zaragoza', 'Kryvyi Rih', 'Ashgabat', 'Xalapa', 'Allentown-Bethlehem', 'Xingtai', 'Cheongju', 'Riga', 'Xuchang', 'Yibin', 'Astana', 'Zigong', 'Hufuf-Mubarraz', 'Ipoh', 'Laiwu', 'Xintai', 'Guntur', 'Bulawayo', 'Tulsa', 'Lattakia', 'Cuttack', 'Liège', 'Fresno', 'Jammu', 'Guigang', 'Nakhon Ratchasima', 'Xianyang, Shaanxi', 'Libreville', 'Jeonju', 'Liuan', 'Shimkent', 'Changzhi', 'San Pedro Sula', 'Puducherry', 'Qingyuan', 'Sarasota-Bradenton', 'Orumiyeh', 'Bukavu', 'Fuzhou, Jiangxi', 'Huludao', 'Amravati', 'Najaf', 's-Gravenhage (The Hague)', 'Bikaner', 'Qujing', 'Wrocław', 'Uyo', 'Panzhihua', 'Jiamusi', 'Izhevsk', 'Padova', 'Banjarmasin', 'Eskisehir', 'Springfield, Massachusett, Connecticut', 'Mwanza', 'Pizhou', 'Xinyang', 'Chongjin', 'Yangquan', 'Venezia', 'Mangalore', 'Concord', 'Rasht', 'Changde', 'Ulyanovsk', 'Bari', 'Shangqiu', 'Bristol', 'Barnaul', "Bur Sa'id", 'East London (Buffalo City)', 'Liupanshui', 'Bahawalpur', 'Oaxaca de Juárez', 'Stuttgart', 'São José dos Campos', 'Zhangzhou', 'Hargeysa', 'Busto Arsizio', 'Vientiane', 'Kagoshima', 'Ezhou', 'Mar Del Plata', 'Tianmen', 'Cagayan de Oro City', 'Hamhung', 'Belgaum', 'Celaya', 'Anyang', 'Liaocheng', 'Zhuji', 'Enugu', 'Hegang', 'Bhavnagar', 'Nantes', 'Deyang', 'Jamnagar', 'Ribeirão  Preto', 'Baton Rouge', 'Albany', 'Belfast', 'Longyan', 'Yaroslavl', 'Vladivostok', 'Oshogbo', 'Firozabad', 'Santiago', 'Irkutsk', 'Duesseldorf', 'Owerri', 'Bobo-Dioulasso', 'Uberlândia', 'Mission Viejo', 'Neijiang', 'Kingston', 'Tasikmalaya', 'Dortmund', 'Taif', 'Verona', 'Essen', 'Tyumen', 'Sargodha', 'Dasmarinas', 'Zhucheng', 'Catania', "Ta'izz", 'Khabarovsk', 'Xiaogan', 'Safaqis', 'Karbala', 'Durgapur', 'Colombo', 'Liuyang', 'Sulaimaniya', 'Chenzhou', 'Cheonan', 'Grand Rapids', 'Shaoyang', 'Akron', 'Xinghua', 'Makhachkala', 'Malegaon', 'Gold Coast-Tweed Head', 'Anqing', 'Jundiaí', 'Salta', 'Luohe', 'New Haven', 'Changshu', 'Linfen', 'Knoxville', 'Toulon', 'Zahedan', 'Nnewi', 'Colorado Springs', 'Xinyu', 'Bokaro Steel City', 'Sialkot', 'Balikpapan', 'Jiangyin', 'Kolhapur', 'Poznań', 'Pontianak', 'Malaga', 'Bujumbura', 'Seregno', 'Brighton-Worthing-Littlehampton', 'Chişinău', "Be'er Sheva", 'Columbia, South Carolina', 'Huambo', 'Nyala', 'Charleston-North Charleston', 'Xiantao', 'Cuiabá', 'Ogden-Layton', 'Orenburg', 'Novokuznetsk', 'Bremen', 'Raurkela', 'Chiclayo', 'Taixing', 'Ajmer', 'Nellore', 'Hengshui', 'Port of Spain', 'Yulin, Guangxi', 'Göteborg', 'Suining, Sichuan', 'Pereira', 'Nanded Waghala', 'Jhansi', 'Abomey-Calavi', 'General Santos City', 'Zhoushan', 'Nampula', 'Tianshui', 'Genève', 'Macao', 'Cape Coral', 'Tongliao', 'Gaza (incl. Ash Shati Camp)', 'Gulbarga', 'Yongzhou', 'As-Suways', 'Jambi', 'Kemerovo', 'Sekondi Takoradi', 'Chengde', 'Ikorodu', 'Kerman', 'Sylhet', 'Yulin, Shaanxi', 'Bakersfield', 'Yuyao', 'Vilnius', 'Wuzhou', 'Ryazan', 'Langfang', 'Ad-Dawhah (Doha)', 'Leipzig', 'Al-Raqqa', 'Tomsk', 'Hannover', 'Bacoor', 'Dresden', 'Skopje', 'Tongling', 'Astrakhan', 'Durango', 'Tshikapa', 'Basel', 'Penza', 'Matsuyama', 'Bouake', 'Tabuk', 'Erode', 'Poza Rica de Hidalgo', 'Misratah', 'Bacolod', 'Hamadan', 'Pachuca de Soto', 'Naberezhnye Tchelny', 'Warri', 'Utsunomiya', 'Kuching', 'Feira De Santana', 'Juiz De Fora', 'Sangli', 'Ujjain', 'Lipetsk', 'Douai-Lens', 'Toledo', 'Ibagué', 'Siping', 'Nurenberg', 'Zarqa', 'Leicester', 'Qitaihe', 'Grenoble', 'Mykolaiv', 'Tlaxcala', 'Tula', 'Yanji', 'Surakarta', 'Wuhai', 'Meknès', 'Guiping', 'Cangzhou', 'Linhai', 'Kitwe', 'Sanliurfa', 'San Juan', 'Baishan', 'Santa Fe', 'Danyang', 'Duisburg', 'Tirunelveli', 'Gebze', 'Meishan', 'Hanzhong', 'Lubango', 'Matamoros', 'Al-Hudaydah', 'Provo-Orem', 'Worcester', 'Gomel', 'Erduosi (Ordoss)', 'Djibouti', 'Qinzhou', 'Dongtai', 'Muzaffarnagar', 'Udon Thani', 'Shuangyashan', 'Edinburgh', 'Samsun', 'Vellore', 'Sokoto', 'Chaoyang', 'Kurashiki', 'Hebi', 'Dazhou', 'Wichita', 'Shouguang', 'Arak', 'Tonghua', 'Oita', 'Vale do Aço', 'Kurnool', 'Kirov', 'Benguela', 'Kitchener-Cambrigde-Waterloo', 'Rajahmundry', 'Samut Sakhon', 'London', 'Yazd', 'Denizli', 'Cabimas', 'Buraydah', 'Feicheng', 'Gaya', 'Jincheng', 'Maturin', 'Kolwezi', 'Cagliari', 'Nasiriyah', 'Udaipur', 'Al-Mansurah', 'Fuqing', 'Mariupol', 'Bozhou', 'Leiyang', 'Shishi', 'Karaganda', 'Utrecht', 'Rouen', 'Bazhong', 'Huaihua', 'Akure', 'Ardabil', 'Bournemouth/Poole', 'Songyuan', 'Beihai', 'Kanazawa', 'Hanchuan', 'Al-Mahallah al-Kubra', 'San Jose del Monte', 'Fukuyama', 'Tongchuan', 'Gdańsk', 'Kunshan ', 'Abeokuta', 'Gaomi', 'Pietermaritzburg (The Msunduzi)', 'Beira', 'Taranto', 'Zhoukou', 'Zanzibar', 'Palm Bay-Melbourne', 'Jalgaon', 'Cheboksary', 'Oujda', 'Samarkand', 'Dongyang', 'Des Moines', 'Weinan', 'Namangan', 'Yichun, Jiangxi', 'Bloemfontein', 'Strasbourg', 'Chiang Rai', 'Tirupati', 'Temecula-Murrieta', 'Ndola', 'Haimen', 'Mathura', 'Cabinda', 'Sanya', 'Harrisburg', 'Daye', 'Amara', 'Avignon', 'Bilaspur', 'Nagasaki', 'Cardiff', 'Tanta', 'Brescia', 'Como', 'Qacentina', 'Rayong', 'Zhumadian', 'Liling', 'Jinzhong', 'Cherthala', 'Heyuan', 'Zaoyang', 'Kakinada', 'Panipat', 'Zhongxiang', 'Patiala', 'Qianjiang', 'Gent', 'Cuautla Morelos', 'Puyang', 'Luhansk', 'Umuahia', 'Little Rock', 'Khamis Mushayt', 'Volta Redonda', 'Likasi', 'Kaliningrad, Kaliningrad Oblast', 'Sukkur', 'Tepic', 'Santa Marta', 'Davanagere', 'Taicang', 'Murcia', 'Orizaba', 'Anshun', 'Yuncheng', 'Tartus', 'Poughkeepsie-Newburgh', 'Iloilo City', 'Malatya', 'Renqiu', 'Pingdu', 'Santiago de Cuba', 'Akola', 'Kalasin', 'Toyama', 'Bandar Abbas', 'Takamatsu', 'Loudi', 'Caxias Do Sul', 'Campos dos Goytacazes', 'Villavicencio', 'Longhai', 'Kuerle', 'San Cristóbal', 'Bryansk', 'Uijeongbu', 'Bijie', 'Kursk', 'Quzhou', 'Bratislava', 'Kahramanmaras', 'Kayamkulam', 'Comilla', 'Xinzhu', 'Zhangjiagang', 'Kota Kinabalu', 'Syracuse', 'Khon-Kaen', 'Wafangdian ', 'Bauchi', 'Caserta', 'Manado', 'Newcastle-Maitland', 'Szczecin', 'Sakarya', 'Bogra', 'Imphal', 'Ivanovo', 'Ubon Ratchathani', 'Port Sudan (Bur Sudan)', 'Tiranë (Tirana)', 'Bissau', 'Magnitogorsk', 'Surat Thani', 'Dengzhou', 'Merca', 'Salerno', 'Bhagalpur', 'Nanping', 'Asyut', 'Siheung', "Yan'an", 'Charleroi', 'Mataram', 'Lancaster', 'Tver', 'Madison', 'Bellary', 'Greenville', 'Montpellier', 'Manizales', 'Ulan-Ude', 'Thoothukkudi (Tuticorin)', 'Chaohu', 'Mymensingh', 'Shizuishan', 'Yiyang, Hunan', 'Miyazaki', 'Jiaozhou', 'Kénitra', 'Zhangye', 'Ar-Rayyan', 'Hillah', 'Sanmenxia', 'Canberra', 'Xinyi', 'Arusha', 'Stavropol', 'Piura', 'Larkana', 'Jingmen', 'Reno', 'Tallinn', 'Tongxiang', 'Jinjiang', 'Winston-Salem', 'Banjul', 'Yuxi', 'Basilan City (including City of Isabela)', 'Al-Hasakah', 'Palma', 'St. Catharines-Niagara', 'Suizhou', 'Calamba', 'Taishan', 'Haining', 'Iquitos', 'Xiongan', 'Muzaffarpur', 'Agartala', 'Pôrto Velho', 'Yogyakarta', 'Spokane', 'Sheikhupura', 'Chuzhou', 'Augusta-Richmond County', 'Latina', 'Shangyu', 'Halifax', 'Bern', 'Youngstown', 'Wellington', 'Longkou', 'Andizhan', 'Resistencia', 'Nuevo Laredo', 'Kandahar', 'Tieling', 'São José do Rio Preto', 'Kuantan', 'Jingjiang', 'Mazatlán', 'Chattanooga', 'Nagano', 'Irapuato', 'Scranton', 'Puerto Vallarta', 'Eslamshahr', 'Qingzhou', 'Liaoyuan', 'Macapá', 'Erzurum', 'Laizhou', 'Petrolina', 'Port St. Lucie', 'Jilong', 'Yamunanagar', 'Juazeiro Do Norte', 'Ahmadnagar', 'Fengcheng', 'Las Palmas Gran Canaria', 'Brno', 'Al-Ain', 'Bochum', 'Latur', 'Zanjan', 'Guangyuan', 'Toyohashi', 'Shuozhou', 'Calabar', 'Teeside (Middlesbrough)', 'Christchurch', 'Qazvin', 'La Serena-Coquimbo', 'Santiago Del Estero', 'Hezhou', 'Dhule', 'Seremban', 'Ankang', 'Ziyang', 'Cusco', 'Buri Ram', 'Stockton', 'Saint-Étienne', 'Stoke-on-Trent (The Potteries)', 'Yongkang', 'Takasaki', 'Lausanne', 'Kaiping', 'Lampang', 'Shanwei', 'Rohtak', 'Oxnard', 'Denton-Lewisville', 'Antofagasta', 'Irbid', 'Campina Grande', 'Al Obeid (Al Ubayyid)', 'Jhang', 'Tamale', 'Vinnitsa', 'Sagar', 'Liyang', 'Bydgoszcz', 'Van', 'Phra Nakhon Si Ayutthaya', 'Valledupar', 'Nizhny Tagil', 'Dali', 'Makiivka', 'Suihua', 'Gongyi', 'Rongcheng', 'Jingdezhen', 'Jianyang', 'Korba', 'Baiyin', 'Kikwit', 'Malanje', 'Mogilev', 'Roi Et', 'Modesto', 'Sevastopol', 'Herat', 'Coventry-Bedworth', 'Igbidu', 'Sanandaj', 'Laiyang', 'Okene', 'Minatitlán', 'Piracicaba', 'Anqiu', 'Corrientes', 'Flint', 'Aktyubinsk', 'Belgorod', 'Goma', 'Tétouan', 'Blida', 'Béthune', 'Bhilwara', 'Zhaodong', 'Xinmi', 'Brahmapur', 'Jackson, Mississippi', 'Pescara', 'Meizhou', 'Lapu-Lapu City', 'Wuppertal', 'Boise City', 'Daytona Beach-Port Orange', 'Bayannaoer', 'Oshawa', 'Guarenas-Guatire', 'Bilbao', 'Phuket', 'Kelamayi', 'Vitebsk', 'Ogbomosho', 'Lublin', 'Armenia', 'Sihui', 'Chitungwiza', 'Durham', 'Maringá', 'Arkhangelsk', 'Ciudad Bolivar', 'Indio-Cathedral City-Palm Springs', 'Shillong', 'Yuhuan', 'Coatzacoalcos', 'Asahikawa', 'Tours', 'Bunia', 'Shahjahanpur', 'Chimbote', 'Mbeya', 'Diwaniyah', 'Annaba', 'Yixing', 'Khorramabad', 'Lancaster-Palmdale', 'Yingde', 'Vladimir', 'Rampur', 'Barisal', 'Montes Claros', 'Shengzhou', 'Kochi', 'Balashikha', 'Laixi', 'Iwaki', 'Sochi', 'Barddhaman', 'Victoria', 'Sarajevo', 'Gombe', 'Linqing', 'Simferopol', 'Jubayl', 'Pensacola', 'Kottayam', 'Xianning', 'Maebashi', 'Ar-Rusayfah', 'Plovdiv', 'Buenaventura', 'Neuquén-Plottier-Cipolletti', 'Rahim Yar Khan', 'Gumi', 'Al-Fayyum', 'Koriyama', 'Kadapa', 'Pasto', 'Bauru', 'Jiyuan', 'Nakhon Pathom', 'Ado-Ekiti', 'Rangpur', 'Bamenda', 'Gongzhuling', 'Gaoyou', 'Barletta', 'Huancayo', 'Abakaliki', 'Alwar', 'Sunderland', 'Colima', 'Valenciennes', 'Xinzheng', 'Xingyi, Guizhou', 'Kurgan', 'Anantapur', 'Gujrat', 'Ambon', 'Victorville-Hesperia-Apple Valley', 'Mandaue City', 'Uvira', 'Wuchuan ', 'Treviso', 'Katsina', 'Wonsan', 'Sanhe', 'Xinyi', 'Pohang', 'Grodno', 'Monteria', 'Minna', 'Cenxi', 'Kut', 'Elazig', 'Bielefeld', 'Wuwei', 'Ondo', 'Angeles City', 'Eindhoven', 'Anápolis', 'Gwangmyeong', 'Modena', 'Gboko', 'Changning', 'Gaozhou', 'Varna', 'Sanming', 'Cuenca', 'Chuxiong', 'Smolensk', 'Taraz', 'Mobile', 'Sinuiju', 'Batman', 'Cordoba', "Ji'an, Jiangxi", 'Kaluga', 'Birkenhead', 'Deir El-Zor(Deir ez-Zor)', 'Chita', 'Akita', 'Sandakan', 'Iligan', 'Alicante', 'Ichalkaranji', 'Yongcheng', 'Fuan', 'Oyo', 'Lokoja', 'Bijapur', 'Reggio Emilia', 'Jeju', 'Lobito', 'Corpus Christi', 'Pavlodar', 'Windsor', 'Baguio City', 'Mbandaka', 'Iasi', 'Shimoga', 'Linzhou', 'Tarlac', 'Orel', 'Chandrapur', 'Kissimmee', 'Ibb', 'Posadas', 'Monclova', 'Reading-Wokingham', 'Az-Zaqazig', 'Neiva', 'Ratchaburi', 'Córdoba', 'Naha', 'Dujiangyan', 'Bonn', 'Gäncä', 'Kuala Terengganu', 'Junagadh', 'Windhoek', 'Fort Wayne', 'Volzhsky',

In [30]:
region_mapping_city = {
    'northern africa': [],
    'middle africa': [],
    'eastern africa': ['Dar es Salaam', 'Mwanza', 'Mbeya', 'Arusha', 'Morogoro', 'Zanzibar', 'Djibouti', 'Bujumbura'],
    'western africa': ['Nouakchott', 'Windhoek', 'Juba'],
    'eastern asia': [],
    'western asia': ['Tehran', 'Mashhad', 'Karaj', 'Tabriz', 'Shiraz', 'Isfahan', 'Qom', 'Orumiyeh', 'Zahedan', 'Kermanshah', 'Yazd', 'Arak', 'Rasht', 'Kerman', 'Ahvaz', 'Sanandaj', 'Ardabil', 'Khorramabad', 'Bandar Abbas', 'Qazvin', 'Gorgan', 'Zanjan', 'Eslamshahr', 'Qods', 'Kashan', 'Sari', 'Shahriyar'],
    'central asia': [],
    'south-eastern asia': ['Thành Pho Ho Chí Minh (Ho Chi Minh City)', 'Hà Noi', 'Hai Phòng', 'Can Tho', 'Da Nang', 'Bien Hoa', 'Nha Trang', 'Hue', 'Long Xuyen', 'Vungtau', 'Thu Dau Mot'],
    'southern asia': [],
    'northern america': ['New York-Newark', 'Los Angeles-Long Beach-Santa Ana', 'Chicago', 'Philadelphia', 'Dallas-Fort Worth', 'Houston', 'Washington, D.C.', 'Atlanta', 'Boston', 'Detroit', 'Phoenix-Mesa', 'San Francisco-Oakland', 'Seattle', 'Minneapolis-St. Paul', 'Tampa-St. Petersburg', 'St. Louis', 'Riverside-San Bernardino', 'Las Vegas', 'Portland', 'Cleveland', 'San Antonio', 'Pittsburgh', 'San Diego', 'Miami', 'Denver-Aurora', 'Baltimore', 'Charlotte', 'Milwaukee', 'Austin', 'Columbus, Ohio', 'Indianapolis', 'Jacksonville, Florida', 'Nashville-Davidson', 'Orlando', 'Memphis', 'Oklahoma City', 'Louisville', 'Hartford', 'Providence', 'Richmond', 'Buffalo', 'Cincinnati', 'Sacramento', 'Salt Lake City', 'St. Louis', 'Stockton', 'Rochester', 'Omaha', 'El Paso', 'Tucson', 'New Orleans', 'Fresno', 'Honolulu', 'Colorado Springs', 'Tulsa', 'Dayton', 'Kansas City', 'Albany', 'Greenville', 'Allentown-Bethlehem', 'Worcester', 'Youngstown', 'Wichita', 'Augusta-Richmond County', 'Winston-Salem', 'Birmingham', 'Greensboro', 'Durham', 'Toledo', 'Harrisburg', 'Fort Wayne', 'Baton Rouge', 'Little Rock', 'Lakeland', 'McAllen', 'Flint', 'Grand Rapids', 'Bridgeport-Stamford', 'Sarasota-Bradenton', 'Modesto', 'Mission Viejo', 'Lexington-Fayette', 'Springfield, Missouri', 'Springfield, Massachusetts, Connecticut', 'Spokane', 'Santa Rosa', 'Savannah', 'Mobile', 'Winston-Salem', 'Lafayette', 'Knoxville', 'Raleigh', 'Provo-Orem', 'Columbia, South Carolina', 'Concord', 'Lansing', 'Laredo', 'Tampa-St. Petersburg', 'Santa Clarita', 'Poughkeepsie-Newburgh', 'Temecula-Murrieta', 'Temecula', 'Temecula-Murrieta', 'Portland', 'Palm Bay-Melbourne', 'Rochester', 'Port St. Lucie', 'Palm Springs', 'Round Lake Beach-McHenry-Grayslake', 'Syracuse', 'Scranton', 'Trenton', 'Huntsville', 'Santa Cruz', 'Des Moines', 'Greensboro', 'Reno', 'Reno', 'Reno', 'Providence', 'Lancaster', 'Lancaster', 'Fayetteville', 'Fayetteville-Springdale', 'Oxnard', 'Ogden-Layton', 'Long Beach-Santa Ana', 'Pensacola', 'Myrtle Beach', 'Pittsburgh', 'Sarasota-Bradenton', 'Syracuse', 'Youngstown', 'Augusta-Richmond County', 'Tucson', 'Montgomery', 'Tucson', 'Augusta-Richmond County', 'Mobile', 'Scranton', 'Boise City', 'Boise City', 'Cochabamba', 'Concord', 'Columbia, South Carolina', 'Colorado Springs', 'Des Moines', 'Grand Rapids', 'Greenville', 'Greenville', 'Greenville', 'Greensboro', 'Harrisburg', 'Fresno', 'Toledo', 'Rochester', 'San Antonio', 'San Francisco-Oakland', 'San Diego', 'San Jose', 'Virginia Beach', 'Memphis', 'Las Vegas', 'Dayton', 'El Paso', 'Santa Cruz', 'Santa Clara', 'Santa Clarita', 'Santa Rosa', 'Santa Cruz', 'Santa Rosa', 'Tulsa', 'Lexington-Fayette', 'Scranton', 'Sacramento', 'Santa Rosa', 'Santa Cruz', 'Providence', 'Providence', 'Philadelphia', 'Philadelphia', 'Philadelphia', 'Scranton', 'Shreveport', 'Stockton', 'Tulsa', 'New Orleans', 'Lexington-Fayette', 'Providence', 'Providence', 'Providence', 'Omaha', 'Fresno', 'Harrisburg', 'Flint', 'Fort Collins', 'Fort Wayne', 'Fort Worth', 'Fort Worth', 'Grand Rapids', 'Greenville', 'Greenville', 'Hartford', 'Hartford', 'Harrisburg', 'Huntsville', 'Greenville', 'Greenville', 'Knoxville', 'Lexington-Fayette', 'Lexington-Fayette', 'Laredo', 'Lansing', 'Lansing', 'Memphis', 'Memphis', 'Minneapolis-St. Paul', 'Minneapolis-St. Paul', 'Mobile', 'Mobile', 'Modesto', 'Modesto', 'Montgomery', 'Montgomery', 'Nashville-Davidson', 'Nashville-Davidson', 'New Haven', 'New Haven', 'New Orleans', 'New Orleans', 'Ogden-Layton', 'Ogden-Layton', 'Oklahoma City', 'Oklahoma City', 'Oklahoma City', 'Oklahoma City', 'Orlando', 'Orlando', 'Palm Bay-Melbourne', 'Palm Bay-Melbourne', 'Palm Bay-Melbourne', 'Palm Bay-Melbourne', 'Palm Springs', 'Palm Springs', 'Pittsburgh', 'Pittsburgh', 'Pittsburgh', 'Pittsburgh', 'Portland', 'Portland', 'Portland', 'Portland', 'Portland', 'Port St. Lucie', 'Port St. Lucie', 'Providence', 'Providence', 'Providence', 'Providence', 'Provo-Orem', 'Provo-Orem', 'Providence', 'Providence', 'Providence', 'Providence', 'Providence', 'Raleigh', 'Raleigh', 'Raleigh', 'Raleigh', 'Raleigh', 'Raleigh', 'Reno', 'Reno', 'Reno', 'Reno', 'Reno', 'Reno', 'Reno', 'Reno', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmond', 'Richmon']
}

# 3. 各国に対応する地域ラベルを取得する関数を作成
def get_region_city(city_name):
    for region, cities in region_mapping_city.items():
        if city_name in cities:
            return region
    return 'Unknown_city'  # マッピングされていない場合は 'Unknown' を返す

# 4. 新しい列 'Region' を追加して、各行の国に対応する地域ラベルを設定
unknown_rows = df_new['region'] == 'Unknown'
df_new.loc[unknown_rows, 'region'] = df_new.loc[unknown_rows, 'name'].apply(get_region_city)

# 結果を表示
df_new.head(10)

,area,lat,lon,2010,name,region
1087,Japan,35.689500,139.691710,36859.626,Tokyo,eastern asia
807,India,28.666670,77.216670,21987.895,Delhi,southern asia
448,China,31.222220,121.458060,20314.309,Shanghai,eastern asia
1146,Mexico,19.427318,-99.141869,20136.681,Ciudad de México (Mexico City),central america
137,Brazil,-23.547500,-46.636110,19659.808,São Paulo,south america
1066,Japan,34.675834,135.553823,19312.646,Kinki M.M.A. (Osaka),eastern asia
1757,United States of America,40.717042,-74.003663,18365.262,New York-Newark,northern america
881,India,19.073975,72.880838,18257.413,Mumbai (Bombay),southern asia
684,Egypt,30.039173,31.239411,16899.015,Al-Qahirah (Cairo),northern africa
203,China,39.907500,116.397230,16441.252,Beijing,eastern asia

In [31]:
# 'Unknown' region の行をフィルタリングして 'name' 列を取得する
unknown_names = df_new[df_new['region'] == 'Unknown']['name']

# 'Unknown' なデータの名前を出力する
name_values = unknown_names.tolist()
print(name_values)

[]

In [33]:
# 列の入れ替え
cols = list(df_new.columns)
name_index = cols.index('name')
cols.insert(name_index, cols.pop(cols.index('area')))
df_added = df_new[cols]
df_added.head(10)

,lat,lon,2010,name,area,region
1087,35.689500,139.691710,36859.626,Tokyo,Japan,eastern asia
807,28.666670,77.216670,21987.895,Delhi,India,southern asia
448,31.222220,121.458060,20314.309,Shanghai,China,eastern asia
1146,19.427318,-99.141869,20136.681,Ciudad de México (Mexico City),Mexico,central america
137,-23.547500,-46.636110,19659.808,São Paulo,Brazil,south america
1066,34.675834,135.553823,19312.646,Kinki M.M.A. (Osaka),Japan,eastern asia
1757,40.717042,-74.003663,18365.262,New York-Newark,United States of America,northern america
881,19.073975,72.880838,18257.413,Mumbai (Bombay),India,southern asia
684,30.039173,31.239411,16899.015,Al-Qahirah (Cairo),Egypt,northern africa
203,39.907500,116.397230,16441.252,Beijing,China,eastern asia

In [35]:
save_flag = False
if save_flag is True:
    datdir = '/mnt/c/Users/tsimk/Downloads/dotfiles/h08/global_city/dat/cty_lst_/gpw4'
    save_path = f"{datdir}/WUP2018_300k_2010_regionadded.txt"
    df_new.to_csv(save_path, sep='\t', index=False, header=False)
    print(f'{save_path} is saved')