In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

!pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (2.0.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python3 -m pip install --upgrade pip

In [82]:
file_path = '/mnt/c/Users/tsimk/Downloads/research/H08/additional_data/GPWv4/gpw-v4-country-level-summary-rev11.xlsx'
df = pd.read_excel(file_path, engine='openpyxl', sheet_name=1, header=1)
result = df[['Country or Territory Name', 'Highest Admin Level Used', 'Number of Units']]
# 結果を表示
result.head(5)

  Country or Territory Name  Highest Admin Level Used  Number of Units
0                     Aruba                         2               55
1               Afghanistan                         2              401
2                    Angola                         2              161
3                  Anguilla                         0                1
4             Åland Islands                         1               16

In [83]:
text_path = '/mnt/c/Users/tsimk/Downloads/dotfiles/h08/camacity/dat/cty_lst_/create_text/camacity_third.txt'
txt_df = pd.read_csv(text_path, sep="|", header=None)
txt_df.columns = ['City Number', 'Status', 'Type', 'WUP_pop', 'Full_pop', 
                  'clustered_pop', 'Country', 'gids', 'Region', 'Latitude', 
                  'Longitude', 'City Name', 'Continent']
txt_df.head(5)

,City Number,Status,Type,WUP_pop,Full_pop,clustered_pop,Country,gids,Region,Latitude,Longitude,City Name,Continent
0,1,VALD,DOWN,36859.626,36855016.0,31821846.0,Japan,93.0,eastern asia,35.689500,139.691710,Tokyo,East Asia
1,2,VALD,FULL,21987.895,22058268.0,22058266.0,India,39.0,southern asia,28.666670,77.216670,Delhi,South Asia
2,3,VALD,DOWN,20314.309,20277882.0,18339050.0,China,33.0,eastern asia,31.222220,121.458060,Shanghai,East Asia
3,4,VALD,FULL,20136.681,20178100.0,20178102.0,Mexico,43.0,central america,19.427318,-99.141869,Ciudad de México (Mexico City),Central America
4,5,VALD,DOWN,19659.808,19608378.0,18857166.0,Brazil,34.0,south america,-23.547500,-46.636110,São Paulo,South America

In [117]:
####################################################################
# city_country_mappigは都市番号(city)をkeyに持ち
# 対応する国名リスト(countries)をvalueに持つ辞書
# countriesはGPWv4(df)のCoutry or territoy nameに準拠
### このコードは重複して複数のcountryに保存されているcity numberを整理している
####################################################################

# 国名データフレームの作成
file_path = '/mnt/c/Users/tsimk/Downloads/research/H08/additional_data/GPWv4/gpw-v4-country-level-summary-rev11.xlsx'
df = pd.read_excel(file_path, engine='openpyxl', sheet_name=1, header=1)

text_path = '/mnt/c/Users/tsimk/Downloads/dotfiles/h08/camacity/dat/cty_lst_/create_text/camacity_third.txt'
txt_df = pd.read_csv(text_path, sep="|", header=None)
txt_df.columns = ['City Number', 'Status', 'Type', 'WUP_pop', 'Full_pop', 
              'clustered_pop', 'Country', 'gids', 'Region', 'Latitude', 
              'Longitude', 'City Name', 'Continent']

# Taiwan, の特別処理用マップ
special_country_mapping = {
    "Taiwan": lambda x: "Taiwan" in x,
    "China Macao Special Administrative Region": lambda x: "Macao" in x,
    "China Hong Kong Special Administrative Region": lambda x: "Hong Kong" in x,
    "Democratic People's Republic of Korea": lambda x: "People's Republic" in x,
    "Bolivia (Plurinational State of)": lambda x: "Bolivia" in x,
    "Czech Republic": lambda x: "Czech" in x,
    "Iran (Islamic Republic of)": lambda x: "Iran" in x,
    "The former Yugoslav Republic of Macedonia": lambda x: "Macedonia" in x,
    "United Kingdom of Great Britain and Northern Ireland": lambda x: "United Kingdom" in x,
    "Venezuela (Bolivarian Republic of)": lambda x: "Venezuela" in x,
}

# 完全一致が必要な国リスト
exact_match_countries = [ "Democratic Republic of the Congo", "Congo", 
                          "Dominican Republic", 
                          "Guinea", "Guinea-Bissau", "Papua New Guinea", "Equatorial Guinea", 
                          "Mali", "Somalia", 
                          "Niger", "Nigeria", 
                          "Oman", "Romania", 
                          "Sudan", "South Sudan",
                        ]

####################################################################

# 国ごとの都市番号を取得
city_country_mapping = {}

for country in df['Country or Territory Name']:
    if country in special_country_mapping:
        # 特別条件のフィルタリング
        matched_cities = txt_df.loc[txt_df['Country'].apply(special_country_mapping[country]), 'City Number'].tolist()
    elif country in exact_match_countries:
        # 完全一致が必要な国の処理
        matched_cities = txt_df.loc[txt_df['Country'] == country, 'City Number'].tolist()
    else:
        # 部分一致の処理（他の国用）
        # この時exact_match_countriesやspecial_country_mappingの国々を省く必要がある
        matched_cities = txt_df.loc[txt_df['Country'].str.contains(country, case=False, na=False), 'City Number'].tolist()
        
####################################################################

    # city numberのループ
    for city in matched_cities:
        # TaiwanまたはDominican Republicの優先条件
        if city in city_country_mapping:
            # すでに分類されている場合は特別条件を優先
            existing_countries = city_country_mapping[city]
            if "China" in existing_countries and country == "Taiwan":
                existing_countries.remove("China")  # Chinaを削除
                existing_countries.append("Taiwan")  # Taiwanを追加
                continue
            if "Taiwan" in existing_countries and country == "China":
                continue  # Taiwanに分類済みの場合、Chinaを無視
                
            if "China" in existing_countries and country == "China Macao Special Administrative Region":
                existing_countries.remove("China")  # Chinaを削除
                existing_countries.append("China Macao Special Administrative Region")
                continue
            if "China Macao Special Administrative Region" in existing_countries and country == "China":
                continue  
                
            if "China" in existing_countries and country == "China Hong Kong Special Administrative Region":
                existing_countries.remove("China")  # Chinaを削除
                existing_countries.append("China Hong Kong Special Administrative Region")
                continue
            if "China Hong Kong Special Administrative Region" in existing_countries and country == "China":
                continue  
                
            if "Republic of Korea" in existing_countries and country == "Democratic People's Republic of Korea":
                existing_countries.remove("Republic of Korea")  # Chinaを削除
                existing_countries.append("Democratic People's Republic of Korea")
                continue
            if "Democratic People's Republic of Korea" in existing_countries and country == "Republic of Korea":
                continue
                
            if "Dominica" in existing_countries and country == "Dominican Republic":
                        existing_countries.remove("Dominica")  # Dominicaの削除
                        existing_countries.append("Dominican Republic")  # Dominican Republicを追加
                        continue
            if "Dominican Republic" in existing_countries and country == "Dominica":
                continue  # Dominican Republicに分類済みの場合、Dominicaを無視
                
        city_country_mapping.setdefault(city, []).append(country)
        
####################################################################
    
# 都市番号が複数の国に対応しているものを特定
sorted_keys = sorted(city_country_mapping.keys())
over_count_cities = {city: countries for city, countries in city_country_mapping.items() if len(countries) > 1}

# 重複都市の結果を表示
if over_count_cities:
    print("Overcounted city numbers and corresponding countries:")
    for city, countries in over_count_cities.items():
        print(f"City Number {city}: {', '.join(countries)}")
else:
    print("No overcounted city numbers found.")

No overcounted city numbers found.

/tmp/ipykernel_1422/961252372.py:57: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  matched_cities = txt_df.loc[txt_df['Country'].str.contains(country, case=False, na=False), 'City Number'].tolist()

In [118]:
####################################################################
# country_city_mappigは都市名(country)をkeyに持ち
# 対応する都市番号リスト(city numbers)をvalueに持つ辞書
# countriesはGPWv4のCoutry or territoy nameに準拠
### 国名に紐づく都市がない場合は'No city found'が保存されている
####################################################################
country_city_mapping = {}

for city, countries in city_country_mapping.items():
    for country in countries:
        # 国名をキーにして都市番号をリストに追加
        country_city_mapping.setdefault(country, []).append(city)

# 結果を表示
for country, cities in country_city_mapping.items():
    print(f"{country}: {cities}")

Afghanistan: [111, 1233, 1320, 1674]
Angola: [60, 862, 973, 1002, 1068, 1315, 1486, 1713, 1799]
Albania: [1157]
United Arab Emirates: [214, 494, 504, 1259, 1779]
Argentina: [12, 308, 343, 454, 550, 589, 774, 837, 964, 966, 1231, 1271, 1329, 1404, 1500, 1516, 1599]
Armenia: [416]
Australia: [80, 89, 203, 247, 359, 834, 1149, 1191, 1543, 1700, 1708]
Austria: [244]
Azerbaijan: [194, 1510, 1523]
Burundi: [856]
Belgium: [210, 447, 713, 1093, 1169]
Benin: [687, 884, 1793, 1826]
Burkina Faso: [238, 802]
Bangladesh: [11, 83, 398, 588, 903, 1139, 1152, 1181, 1382, 1415, 1855]
Bulgaria: [361, 1402, 1459]
Bahrain: [1634]
Bosnia and Herzegovina: [1392]
Belarus: [219, 978, 1316, 1354, 1442, 1525]
Bolivia (Plurinational State of): [263, 327, 453, 1780]
Brazil: [5, 16, 59, 92, 94, 100, 101, 109, 119, 140, 196, 198, 228, 254, 257, 341, 364, 373, 382, 389, 440, 503, 566, 597, 629, 689, 767, 789, 803, 836, 866, 938, 939, 999, 1100, 1125, 1126, 1217, 1235, 1247, 1250, 1254, 1293, 1327, 1361, 1383, 1411, 1453, 1530, 1557, 1564, 1573, 1627, 1648, 1698, 1703, 1711, 1717, 1720]
Central African Republic: [650]
Canada: [57, 90, 178, 360, 367, 381, 608, 642, 653, 1003, 1006, 1208, 1225, 1349, 1391, 1489, 1763]
Switzerland: [351, 889, 923, 1226, 1284]
Chile: [45, 518, 609, 1270, 1291, 1603]
China: [3, 10, 20, 23, 24, 25, 39, 41, 42, 44, 48, 49, 52, 54, 63, 72, 79, 85, 86, 96, 97, 99, 102, 108, 116, 117, 124, 125, 127, 137, 138, 141, 144, 148, 149, 154, 160, 161, 169, 179, 183, 220, 222, 230, 231, 235, 246, 250, 252, 262, 271, 275, 279, 280, 293, 295, 299, 300, 306, 310, 312, 316, 318, 320, 330, 331, 334, 344, 347, 348, 356, 357, 377, 379, 383, 386, 388, 395, 403, 405, 410, 424, 428, 429, 433, 434, 445, 446, 452, 456, 467, 470, 477, 479, 491, 493, 495, 505, 507, 509, 510, 512, 514, 515, 519, 521, 523, 524, 530, 531, 534, 539, 543, 549, 554, 567, 585, 587, 593, 594, 599, 601, 602, 603, 612, 613, 617, 618, 620, 622, 631, 632, 639, 640, 643, 644, 651, 654, 657, 662, 663, 664, 666, 671, 672, 674, 678, 690, 697, 700, 701, 703, 706, 707, 716, 718, 721, 723, 726, 730, 731, 736, 739, 740, 747, 748, 750, 755, 758, 763, 768, 773, 775, 781, 782, 784, 787, 793, 805, 815, 819, 824, 826, 829, 831, 835, 838, 840, 841, 847, 851, 865, 873, 876, 878, 880, 886, 888, 892, 895, 900, 904, 906, 908, 910, 919, 946, 950, 955, 957, 959, 960, 961, 965, 967, 971, 972, 979, 981, 982, 985, 990, 992, 993, 995, 997, 1011, 1013, 1020, 1022, 1023, 1024, 1028, 1029, 1033, 1034, 1036, 1040, 1042, 1044, 1048, 1055, 1057, 1059, 1066, 1069, 1071, 1082, 1083, 1084, 1086, 1087, 1090, 1092, 1095, 1107, 1110, 1111, 1116, 1117, 1124, 1128, 1129, 1133, 1135, 1141, 1145, 1161, 1165, 1168, 1180, 1182, 1183, 1185, 1187, 1190, 1192, 1197, 1200, 1201, 1204, 1209, 1211, 1212, 1214, 1221, 1224, 1229, 1234, 1237, 1245, 1246, 1249, 1256, 1263, 1265, 1272, 1275, 1276, 1282, 1285, 1287, 1299, 1305, 1307, 1308, 1309, 1310, 1311, 1313, 1324, 1328, 1338, 1339, 1343, 1348, 1353, 1358, 1366, 1376, 1379, 1384, 1387, 1394, 1399, 1412, 1417, 1418, 1426, 1427, 1435, 1439, 1440, 1445, 1449, 1457, 1458, 1460, 1462, 1469, 1479, 1480, 1494, 1508, 1520, 1521, 1529, 1531, 1544, 1547, 1555, 1556, 1586, 1588, 1589, 1593, 1594, 1612, 1623, 1624, 1638, 1643, 1644, 1647, 1653, 1658, 1659, 1671, 1672, 1673, 1678, 1679, 1682, 1687, 1688, 1692, 1693, 1695, 1699, 1702, 1704, 1706, 1707, 1709, 1710, 1715, 1721, 1723, 1726, 1732, 1735, 1742, 1749, 1753, 1754, 1755, 1762, 1764, 1765, 1770, 1773, 1774, 1778, 1781, 1785, 1789, 1790, 1794, 1800, 1803, 1805, 1808, 1811, 1823, 1831, 1835, 1837, 1838, 1840, 1842, 1843, 1844, 1845, 1848]
China Hong Kong Special Administrative Region: [43]
Taiwan: [84, 152, 206, 292, 378, 591, 1140, 1252]
China Macao Special Administrative Region: [890]
Côte d'Ivoire: [88, 926]
Cameroon: [173, 175, 1416, 1651, 1725, 1745, 1825]
Democratic Republic of the Congo: [28, 261, 273, 480, 538, 729, 922, 1015, 1101, 1314, 1333, 1370, 1434, 1491, 1637, 1849]
Congo: [278, 564]
Colombia: [34, 106, 176, 215, 411, 492, 596, 881, 945, 1105, 1127, 1177, 1303, 1357, 1403, 1410, 1443, 1504]
Costa Rica: [362, 1614, 1841]
Cuba: [186, 1118, 1587]
Czech Republic: [355, 1258]
Germany: [103, 232, 333, 443, 681, 766, 800, 808, 811, 870, 912, 915, 917, 947, 968, 1260, 1345, 1448, 1509, 1577, 1626, 1664]
Djibouti: [980]
Dominican Republic: [153, 798]
Denmark: [365]
Algeria: [166, 563, 1080, 1335, 1375, 1602, 1665, 1743]
Ecuador: [162, 274, 1461, 1728]
Egypt: [9, 76, 761, 896, 1019, 1037, 1077, 1166, 1407, 1503, 1553, 1641, 1667]
Eritrea: [691]
Spain: [51, 67, 590, 665, 692, 855, 1108, 1207, 1257, 1351, 1468, 1477, 1533, 1629]
Estonia: [1199]
Ethiopia: [118, 1675, 1730, 1777, 1807]
Finland: [385, 1554]
France: [21, 277, 281, 438, 476, 516, 542, 786, 843, 943, 951, 1027, 1061, 1073, 1176, 1280, 1336, 1369, 1425, 1528]
Gabon: [719]
United Kingdom of Great Britain and Northern Ireland: [38, 159, 167, 234, 267, 535, 545, 600, 637, 679, 759, 792, 858, 949, 986, 1032, 1076, 1267, 1281, 1321, 1423, 1471, 1502, 1522, 1539, 1568, 1598, 1628]
Georgia: [407]
Ghana: [195, 202, 899, 1296]
Guinea: [291]
Gambia: [1203]
Guinea-Bissau: [1158]
Equatorial Guinea: [1817]
Greece: [115, 575]
Guatemala: [157]
Honduras: [430, 724]
Croatia: [670]
Haiti: [187]
Hungary: [240]
Indonesia: [27, 142, 171, 174, 189, 225, 237, 282, 307, 339, 471, 488, 501, 520, 556, 562, 584, 630, 743, 807, 850, 854, 897, 956, 1148, 1170, 1218, 1431, 1548, 1595, 1616, 1685, 1757]
India: [2, 8, 13, 32, 35, 40, 46, 66, 73, 126, 130, 133, 164, 188, 191, 193, 197, 207, 217, 226, 227, 243, 253, 264, 268, 270, 272, 287, 313, 314, 319, 321, 328, 342, 352, 354, 358, 363, 368, 370, 371, 387, 392, 401, 406, 413, 426, 439, 455, 457, 463, 466, 473, 475, 484, 485, 498, 513, 526, 527, 536, 621, 636, 667, 669, 673, 677, 708, 712, 715, 725, 732, 735, 752, 778, 785, 788, 797, 822, 833, 848, 852, 871, 874, 875, 882, 883, 894, 928, 940, 941, 969, 983, 988, 1000, 1004, 1012, 1018, 1051, 1063, 1067, 1074, 1085, 1088, 1089, 1091, 1106, 1119, 1138, 1153, 1164, 1174, 1179, 1215, 1216, 1253, 1255, 1261, 1273, 1288, 1298, 1312, 1337, 1340, 1365, 1371, 1381, 1390, 1398, 1409, 1422, 1429, 1478, 1483, 1493, 1497, 1512, 1550, 1559, 1570, 1574, 1575, 1576, 1578, 1605, 1606, 1607, 1617, 1620, 1633, 1639, 1650, 1652, 1654, 1656, 1661, 1666, 1668, 1677, 1683, 1689, 1696, 1697, 1712, 1718, 1748, 1750, 1758, 1759, 1784, 1797, 1802, 1815, 1816, 1819, 1821, 1824, 1828, 1830, 1836, 1853]
Ireland: [396]
Iran (Islamic Republic of): [37, 150, 248, 283, 304, 323, 409, 422, 555, 728, 754, 844, 902, 932, 996, 1007, 1031, 1122, 1244, 1262, 1269, 1323, 1377, 1517, 1660, 1722, 1724, 1814]
Iraq: [53, 369, 390, 574, 623, 733, 821, 825, 1017, 1072, 1189, 1374, 1446, 1809, 1832, 1847, 1860]
Israel: [110, 427, 592, 860]
Italy: [87, 123, 181, 239, 540, 586, 605, 660, 668, 742, 751, 757, 770, 810, 816, 857, 1016, 1047, 1078, 1079, 1147, 1163, 1223, 1342, 1419, 1436, 1455, 1484, 1549, 1590, 1591, 1657]
Jamaica: [806]
Jordan: [322, 948, 1292, 1401, 1851, 1859]
Japan: [1, 6, 29, 55, 145, 156, 184, 190, 569, 626, 658, 772, 925, 936, 991, 998, 1035, 1039, 1075, 1121, 1123, 1184, 1240, 1264, 1283, 1368, 1385, 1388, 1400, 1408, 1474, 1507, 1581]
Kazakhstan: [317, 702, 722, 1025, 1331, 1464, 1488, 1558, 1580]
Kenya: [113, 478, 1632, 1734, 1747, 1791]
Kyrgyzstan: [552]
Cambodia: [289]
Republic of Korea: [26, 107, 158, 177, 297, 303, 415, 423, 474, 500, 511, 544, 551, 638, 698, 720, 780, 827, 1132, 1167, 1406, 1441, 1454, 1485, 1619]
Democratic People's Republic of Korea: [132, 749, 777, 1438, 1466]
Kuwait: [204]
Lao People's Democratic Republic: [771]
Lebanon: [205]
Liberia: [425]
Libya: [400, 684, 930]
Sri Lanka: [823]
Lithuania: [907]
Latvia: [699]
Morocco: [105, 249, 432, 522, 558, 606, 958, 1053, 1186, 1334, 1604]
Republic of Moldova: [859]
Madagascar: [199, 1786, 1839]
Mexico: [4, 74, 82, 143, 209, 236, 269, 340, 397, 419, 431, 460, 481, 483, 487, 533, 537, 541, 557, 560, 568, 610, 634, 652, 676, 683, 685, 695, 765, 779, 921, 929, 933, 953, 974, 1094, 1104, 1109, 1232, 1238, 1241, 1243, 1326, 1367, 1424, 1501, 1506, 1546, 1569, 1596, 1611, 1691, 1737, 1760]
The former Yugoslav Republic of Macedonia: [918]
Mali: [213, 1798]
Myanmar: [75, 391, 1812]
Mongolia: [380]
Mozambique: [399, 529, 887, 1046, 1719, 1818, 1854]
Mauritania: [546]
Malawi: [633, 661]
Malaysia: [50, 572, 705, 937, 1142, 1236, 1274, 1475, 1511, 1613, 1771]
Namibia: [1513]
Niger: [469, 1681]
Nigeria: [22, 114, 134, 223, 224, 346, 451, 525, 559, 598, 627, 680, 688, 738, 783, 796, 801, 845, 901, 935, 989, 1030, 1043, 1097, 1146, 1266, 1322, 1325, 1355, 1393, 1414, 1421, 1437, 1444, 1450, 1456, 1481, 1482, 1631, 1655, 1686, 1729, 1761, 1769, 1782, 1783, 1796, 1820, 1846, 1857]
Nicaragua: [448]
Netherlands: [418, 444, 734, 1026, 1452]
Norway: [506]
Nepal: [465, 1775]
New Zealand: [338, 1228, 1268]
Oman: [645, 1858]
Pakistan: [14, 33, 146, 221, 260, 276, 284, 296, 565, 578, 764, 813, 849, 1103, 1196, 1220, 1295, 1405, 1430, 1519, 1535, 1536, 1563, 1582, 1636]
Panama: [294]
Peru: [30, 583, 649, 872, 1195, 1213, 1277, 1372, 1420, 1756]
Philippines: [18, 309, 528, 570, 682, 776, 814, 885, 916, 931, 1038, 1114, 1205, 1210, 1344, 1433, 1451, 1476, 1490, 1495, 1545, 1562, 1572, 1622, 1662, 1663, 1669, 1670, 1716, 1776, 1787]
Papua New Guinea: [1540]
Poland: [251, 607, 625, 737, 853, 1041, 1150, 1300, 1356]
Puerto Rico: [163, 1565]
Portugal: [135, 349]
Paraguay: [155, 1740]
State of Palestine: [893]
Qatar: [911, 1188, 1738]
Romania: [212, 1492, 1561, 1584]
Russian Federation: [19, 68, 302, 335, 353, 372, 374, 376, 384, 402, 421, 437, 449, 461, 462, 553, 619, 648, 741, 756, 760, 794, 795, 799, 812, 818, 832, 868, 869, 898, 909, 914, 920, 924, 934, 942, 954, 1001, 1052, 1102, 1131, 1134, 1154, 1159, 1172, 1178, 1194, 1304, 1332, 1362, 1380, 1386, 1389, 1428, 1463, 1470, 1473, 1496, 1515, 1534, 1538, 1566, 1585, 1608, 1727, 1767]
Rwanda: [579]
Saudi Arabia: [61, 104, 285, 393, 496, 704, 809, 927, 1010, 1099, 1396, 1532, 1592, 1714, 1804, 1810, 1829]
Sudan: [71, 863, 1156, 1294, 1551, 1579, 1676]
Senegal: [168, 1642, 1801]
Singapore: [64]
Sierra Leone: [499]
El Salvador: [404]
Somalia: [332, 769, 1162, 1567, 1618]
Serbia: [337]
South Sudan: [1768]
Slovakia: [1136]
Sweden: [329, 879, 1701]
Syrian Arab Republic: [120, 170, 336, 489, 711, 913, 1112, 1206, 1472]
Chad: [450]
Togo: [305]
Thailand: [36, 375, 412, 472, 581, 582, 614, 717, 984, 1005, 1062, 1081, 1120, 1144, 1155, 1160, 1278, 1286, 1302, 1317, 1352, 1413, 1505, 1537, 1751, 1795, 1813, 1822]
Tajikistan: [647]
Turkmenistan: [694]
Trinidad and Tobago: [877]
Tunisia: [201, 820]
Turkey: [15, 81, 147, 266, 286, 345, 436, 497, 561, 571, 580, 744, 963, 970, 987, 1008, 1115, 1137, 1151, 1248, 1301, 1447, 1467, 1583, 1597, 1630, 1752]
United Republic of Tanzania: [91, 746, 1049, 1193, 1373, 1684, 1856]
Uganda: [200]
Ukraine: [139, 311, 441, 442, 464, 595, 628, 693, 952, 1021, 1096, 1297, 1306, 1319, 1395]
Uruguay: [258]
United States of America: [7, 17, 31, 56, 58, 62, 65, 69, 70, 78, 93, 95, 112, 121, 128, 151, 165, 172, 182, 185, 208, 211, 216, 229, 233, 241, 242, 255, 265, 288, 290, 298, 315, 324, 325, 326, 350, 366, 414, 420, 435, 458, 459, 468, 482, 486, 490, 502, 508, 532, 548, 573, 577, 611, 616, 624, 635, 641, 646, 696, 710, 714, 727, 745, 753, 790, 791, 804, 828, 830, 839, 842, 846, 861, 864, 867, 891, 905, 944, 976, 977, 994, 1050, 1056, 1064, 1070, 1098, 1113, 1143, 1171, 1173, 1175, 1198, 1202, 1219, 1222, 1227, 1239, 1242, 1251, 1279, 1289, 1290, 1318, 1330, 1341, 1346, 1347, 1360, 1364, 1378, 1397, 1432, 1465, 1487, 1498, 1514, 1518, 1524, 1527, 1541, 1552, 1560, 1600, 1601, 1609, 1610, 1635, 1640, 1649, 1680, 1694, 1705, 1731, 1733, 1739, 1744, 1746, 1766, 1788, 1806, 1827, 1833, 1834]
Uzbekistan: [180, 1054, 1058, 1230, 1736]
Venezuela (Bolivarian Republic of): [131, 218, 259, 408, 417, 615, 686, 1009, 1014, 1130, 1350, 1363, 1542, 1571, 1645, 1690]
Viet Nam: [47, 136, 517, 547, 576, 675, 1526, 1615, 1621, 1772, 1850]
Yemen: [192, 659, 817, 975, 1499, 1741, 1852]
South Africa: [77, 98, 122, 129, 256, 394, 604, 655, 656, 762, 1045, 1060, 1625, 1646, 1792]
Zambia: [245, 962, 1065]
Zimbabwe: [301, 709, 1359]

In [119]:
# 都市番号が存在する場合のみカウント
total_cities = len({city for city, countries in city_country_mapping.items() if 'No city found' not in countries})
print(f"Total number of cities: {total_cities}")
# 79都市が未分類

Total number of cities: 1860

In [122]:
####################################################################
# country_admin_units
# key=country
# value=data
# data has keys of ['Highest Admin Level Used'], ['Number of Units']
# GPWv4(df)を使って国ごとのadmin level, number of unitsを収集
####################################################################

# 新しい辞書を作成して国名ごとにデータを収集
country_admin_units = {}

for country, cities in country_city_mapping.items():
    # 国名に対応する行を df から取得
    matching_rows = df[df['Country or Territory Name'] == country]
    if not matching_rows.empty:
        # 'Highest Admin Level Used' と 'Number of Units' を取得
        highest_admin_level = matching_rows['Highest Admin Level Used'].iloc[0]
        number_of_units = matching_rows['Number of Units'].iloc[0]
        
        # 辞書に保存
        country_admin_units[country] = {
            'Highest Admin Level Used': highest_admin_level,
            'Number of Units': number_of_units
        }
    else:
        print(f'No match {country}')

# 結果を表示
for country, data in country_admin_units.items():
    print(f"{country}: Highest Admin Level Used = {data['Highest Admin Level Used']}, Number of Units = {data['Number of Units']}")

Afghanistan: Highest Admin Level Used = 2, Number of Units = 401
Angola: Highest Admin Level Used = 2, Number of Units = 161
Albania: Highest Admin Level Used = 3, Number of Units = 373
United Arab Emirates: Highest Admin Level Used = 1, Number of Units = 7
Argentina: Highest Admin Level Used = 2, Number of Units = 525
Armenia: Highest Admin Level Used = 3, Number of Units = 935
Australia: Highest Admin Level Used = 5, Number of Units = 54765
Austria: Highest Admin Level Used = 4, Number of Units = 2357
Azerbaijan: Highest Admin Level Used = 1, Number of Units = 84
Burundi: Highest Admin Level Used = 2, Number of Units = 129
Belgium: Highest Admin Level Used = 4, Number of Units = 589
Benin: Highest Admin Level Used = 2, Number of Units = 77
Burkina Faso: Highest Admin Level Used = 3, Number of Units = 351
Bangladesh: Highest Admin Level Used = 3, Number of Units = 544
Bulgaria: Highest Admin Level Used = 2, Number of Units = 264
Bahrain: Highest Admin Level Used = 1, Number of Units = 5
Bosnia and Herzegovina: Highest Admin Level Used = 3, Number of Units = 142
Belarus: Highest Admin Level Used = 2, Number of Units = 129
Bolivia (Plurinational State of): Highest Admin Level Used = 3, Number of Units = 339
Brazil: Highest Admin Level Used = 5, Number of Units = 316461
Central African Republic: Highest Admin Level Used = 3, Number of Units = 174
Canada: Highest Admin Level Used = 5, Number of Units = 493185
Switzerland: Highest Admin Level Used = 3, Number of Units = 2538
Chile: Highest Admin Level Used = 3, Number of Units = 345
China: Highest Admin Level Used = 4, Number of Units = 43878
China Hong Kong Special Administrative Region: Highest Admin Level Used = 3, Number of Units = 412
Taiwan: Highest Admin Level Used = 2, Number of Units = 369
China Macao Special Administrative Region: Highest Admin Level Used = 3, Number of Units = 22
Côte d'Ivoire: Highest Admin Level Used = 4, Number of Units = 518
Cameroon: Highest Admin Level Used = 2, Number of Units = 58
Democratic Republic of the Congo: Highest Admin Level Used = 3, Number of Units = 188
Congo: Highest Admin Level Used = 1, Number of Units = 12
Colombia: Highest Admin Level Used = 2, Number of Units = 1120
Costa Rica: Highest Admin Level Used = 3, Number of Units = 473
Cuba: Highest Admin Level Used = 2, Number of Units = 168
Czech Republic: Highest Admin Level Used = 3, Number of Units = 6251
Germany: Highest Admin Level Used = 3, Number of Units = 11556
Djibouti: Highest Admin Level Used = 1, Number of Units = 6
Dominican Republic: Highest Admin Level Used = 4, Number of Units = 386
Denmark: Highest Admin Level Used = 3, Number of Units = 2138
Algeria: Highest Admin Level Used = 2, Number of Units = 1540
Ecuador: Highest Admin Level Used = 3, Number of Units = 1024
Egypt: Highest Admin Level Used = 2, Number of Units = 379
Eritrea: Highest Admin Level Used = 1, Number of Units = 6
Spain: Highest Admin Level Used = 3, Number of Units = 8020
Estonia: Highest Admin Level Used = 3, Number of Units = 4689
Ethiopia: Highest Admin Level Used = 3, Number of Units = 734
Finland: Highest Admin Level Used = 2, Number of Units = 320
France: Highest Admin Level Used = 5, Number of Units = 36610
Gabon: Highest Admin Level Used = 2, Number of Units = 48
United Kingdom of Great Britain and Northern Ireland: Highest Admin Level Used = 6, Number of Units = 232296
Georgia: Highest Admin Level Used = 2, Number of Units = 76
Ghana: Highest Admin Level Used = 2, Number of Units = 170
Guinea: Highest Admin Level Used = 3, Number of Units = 340
Gambia: Highest Admin Level Used = 2, Number of Units = 40
Guinea-Bissau: Highest Admin Level Used = 2, Number of Units = 39
Equatorial Guinea: Highest Admin Level Used = 2, Number of Units = 7
Greece: Highest Admin Level Used = 5, Number of Units = 6130
Guatemala: Highest Admin Level Used = 2, Number of Units = 354
Honduras: Highest Admin Level Used = 3, Number of Units = 3050
Croatia: Highest Admin Level Used = 2, Number of Units = 556
Haiti: Highest Admin Level Used = 4, Number of Units = 560
Hungary: Highest Admin Level Used = 4, Number of Units = 3177
Indonesia: Highest Admin Level Used = 3, Number of Units = 498
India: Highest Admin Level Used = 3, Number of Units = 5967
Ireland: Highest Admin Level Used = 4, Number of Units = 18488
Iran (Islamic Republic of): Highest Admin Level Used = 2, Number of Units = 397
Iraq: Highest Admin Level Used = 2, Number of Units = 99
Israel: Highest Admin Level Used = 3, Number of Units = 51
Italy: Highest Admin Level Used = 4, Number of Units = 399014
Jamaica: Highest Admin Level Used = 1, Number of Units = 14
Jordan: Highest Admin Level Used = 3, Number of Units = 89
Japan: Highest Admin Level Used = 2, Number of Units = 1751
Kazakhstan: Highest Admin Level Used = 2, Number of Units = 172
Kenya: Highest Admin Level Used = 5, Number of Units = 7150
Kyrgyzstan: Highest Admin Level Used = 2, Number of Units = 54
Cambodia: Highest Admin Level Used = 3, Number of Units = 1621
Republic of Korea: Highest Admin Level Used = 2, Number of Units = 251
Democratic People's Republic of Korea: Highest Admin Level Used = 2, Number of Units = 181
Kuwait: Highest Admin Level Used = 1, Number of Units = 6
Lao People's Democratic Republic: Highest Admin Level Used = 3, Number of Units = 10022
Lebanon: Highest Admin Level Used = 3, Number of Units = 1643
Liberia: Highest Admin Level Used = 2, Number of Units = 136
Libya: Highest Admin Level Used = 1, Number of Units = 22
Sri Lanka: Highest Admin Level Used = 4, Number of Units = 13938
Lithuania: Highest Admin Level Used = 2, Number of Units = 60
Latvia: Highest Admin Level Used = 2, Number of Units = 119
Morocco: Highest Admin Level Used = 3, Number of Units = 1657
Republic of Moldova: Highest Admin Level Used = 1, Number of Units = 42
Madagascar: Highest Admin Level Used = 4, Number of Units = 1242
Mexico: Highest Admin Level Used = 3, Number of Units = 73613
The former Yugoslav Republic of Macedonia: Highest Admin Level Used = 2, Number of Units = 78
Mali: Highest Admin Level Used = 4, Number of Units = 765
Myanmar: Highest Admin Level Used = 3, Number of Units = 413
Mongolia: Highest Admin Level Used = 2, Number of Units = 338
Mozambique: Highest Admin Level Used = 3, Number of Units = 413
Mauritania: Highest Admin Level Used = 3, Number of Units = 218
Malawi: Highest Admin Level Used = 3, Number of Units = 12641
Malaysia: Highest Admin Level Used = 3, Number of Units = 932
Namibia: Highest Admin Level Used = 3, Number of Units = 5475
Niger: Highest Admin Level Used = 2, Number of Units = 66
Nigeria: Highest Admin Level Used = 2, Number of Units = 774
Nicaragua: Highest Admin Level Used = 2, Number of Units = 153
Netherlands: Highest Admin Level Used = 2, Number of Units = 418
Norway: Highest Admin Level Used = 2, Number of Units = 430
Nepal: Highest Admin Level Used = 4, Number of Units = 3990
New Zealand: Highest Admin Level Used = 3, Number of Units = 46085
Oman: Highest Admin Level Used = 2, Number of Units = 61
Pakistan: Highest Admin Level Used = 3, Number of Units = 396
Panama: Highest Admin Level Used = 3, Number of Units = 625
Peru: Highest Admin Level Used = 3, Number of Units = 1832
Philippines: Highest Admin Level Used = 3, Number of Units = 41954
Papua New Guinea: Highest Admin Level Used = 2, Number of Units = 87
Poland: Highest Admin Level Used = 4, Number of Units = 2500
Puerto Rico: Highest Admin Level Used = 4, Number of Units = 76112
Portugal: Highest Admin Level Used = 6, Number of Units = 265953
Paraguay: Highest Admin Level Used = 2, Number of Units = 250
State of Palestine: Highest Admin Level Used = 2, Number of Units = 6
Qatar: Highest Admin Level Used = 2, Number of Units = 90
Romania: Highest Admin Level Used = 4, Number of Units = 3159
Russian Federation: Highest Admin Level Used = 3, Number of Units = 2532
Rwanda: Highest Admin Level Used = 3, Number of Units = 439
Saudi Arabia: Highest Admin Level Used = 2, Number of Units = 118
Sudan: Highest Admin Level Used = 2, Number of Units = 130
Senegal: Highest Admin Level Used = 2, Number of Units = 45
Singapore: Highest Admin Level Used = 2, Number of Units = 55
Sierra Leone: Highest Admin Level Used = 3, Number of Units = 160
El Salvador: Highest Admin Level Used = 2, Number of Units = 262
Somalia: Highest Admin Level Used = 3, Number of Units = 74
Serbia: Highest Admin Level Used = 5, Number of Units = 4721
South Sudan: Highest Admin Level Used = 2, Number of Units = 78
Slovakia: Highest Admin Level Used = 3, Number of Units = 2927
Sweden: Highest Admin Level Used = 3, Number of Units = 1460
Syrian Arab Republic: Highest Admin Level Used = 3, Number of Units = 267
Chad: Highest Admin Level Used = 2, Number of Units = 62
Togo: Highest Admin Level Used = 2, Number of Units = 40
Thailand: Highest Admin Level Used = 2, Number of Units = 927
Tajikistan: Highest Admin Level Used = 2, Number of Units = 74
Turkmenistan: Highest Admin Level Used = 1, Number of Units = 6
Trinidad and Tobago: Highest Admin Level Used = 1, Number of Units = 21
Tunisia: Highest Admin Level Used = 2, Number of Units = 264
Turkey: Highest Admin Level Used = 2, Number of Units = 957
United Republic of Tanzania: Highest Admin Level Used = 3, Number of Units = 3643
Uganda: Highest Admin Level Used = 3, Number of Units = 1377
Ukraine: Highest Admin Level Used = 2, Number of Units = 636
Uruguay: Highest Admin Level Used = 3, Number of Units = 4318
United States of America: Highest Admin Level Used = 5, Number of Units = 10535212
Uzbekistan: Highest Admin Level Used = 1, Number of Units = 14
Venezuela (Bolivarian Republic of): Highest Admin Level Used = 2, Number of Units = 337
Viet Nam: Highest Admin Level Used = 3, Number of Units = 688
Yemen: Highest Admin Level Used = 2, Number of Units = 333
South Africa: Highest Admin Level Used = 6, Number of Units = 86983
Zambia: Highest Admin Level Used = 3, Number of Units = 150
Zimbabwe: Highest Admin Level Used = 2, Number of Units = 91

In [ ]:
####################################################################
# load He's accuray of each cities
####################################################################

In [ ]:
####################################################################
# データをまとめる
####################################################################

# 空のリストを用意して各都市の情報を収集
city_table_data = []

for city, countries in city_country_mapping.items():
    for country in countries:
        # 国名に一致する行を df から取得
        matching_row = df[df['Country or Territory Name'] == country]
        if not matching_row.empty:
            # 行情報を取得
            administrative_level = matching_row['Highest Admin Level Used'].iloc[0]
            number_of_units = matching_row['Number of Units'].iloc[0]
            
            # 都市番号と共にリストに保存
            city_table_data.append({
                'City Number': city,
                'Administrative Level': administrative_level,
                'Number of Input Units': number_of_units
            })

# データフレームに変換
city_table_df = pd.DataFrame(city_table_data)

# 結果を表示
print(city_table_df)